{% extends 'sidebar_page.html' %}
{% load staticfiles %}
{% block title %}Home{% endblock %}
{% block header_block %}
    <div class="col-sm-8">
        <h2 class="headerLine">Home</h2>
    </div>
    <div class="col-sm-4 header-buttons">
        <a href="#" class="header-button btn btn-default">Settings</a>
    </div>
{% endblock %}
{% block content_block %}
<div class="well well-lg">
    <h3>Data Sets</h3>
    <div class="row">
        <div class="col-sm-3 dataContainer">
            <p>&nbsp; <br /> &nbsp; </p>
            <img class="dataset-img" src="{% static "img/dataset_add.png" %}" />
            <a href="/dataset/upload_csv" class="content-button btn btn-primary">Create New</a>
        </div>
        {% if alphas.count > 0 %}
            <div class="col-sm-3 dataContainer">
                <p><strong>{{ alpha_label }}</strong> <br /> (n={{ alphas.count }})</p>
                <img class="dataset-img" src="{% static "img/dataset.png" %}" />
                <a href="/dataset/view/alpha" class="content-button btn btn-primary">View</a>
                <a href="/dataset/analytics/alpha" class="content-button btn btn-success">Analytics</a>
            </div>
        {% endif %}
        {% if betas.count > 0 %}
            <div class="col-sm-3 dataContainer">
                <p><strong>{{ beta_label }}</strong> <br /> (n={{ betas.count }})</p>
                <img class="dataset-img" src="{% static "img/dataset.png" %}" />
                <a href="/dataset/view/beta" class="content-button btn btn-primary">View</a>
                <a href="/dataset/analytics/beta" class="content-button btn btn-success">Analytics</a>
            </div>
        {% endif %}
    </div>
</div>
<div class="well well-lg">
    <h3>Matches</h3>
    <div class="row">
        <div class="col-sm-3 matchContainer">
            <p> &nbsp; <br /> &nbsp; </p>
            <img class="match-img" src="{% static "img/match_add.png" %}" />
            <a href="/match/create_match" class="content-button btn btn-primary">Create Match</a>
        </div>
        <div class="col-sm-3 dataContainer">
            <p><strong>Cofounder Match</strong> <br /> &nbsp; July 2016 </p>
            <img class="match-img" src="{% static "img/match.png" %}" />
            <a href="#" class="content-button btn btn-primary">Download Results</a>
            <a href="/match/analyze/" class="content-button btn btn-success">View Analytics</a>
        </div>
        {% for match in matches %}
            <div class="col-sm-3 dataContainer">
                <p><strong>{{ match.name }}</strong> <br /> &nbsp; {{ match.created_at }} </p>
                <img class="match-img" src="{% static "img/match.png" %}" />
                <a href="/match/view/{{ match.id }}" class="content-button btn btn-primary">View Results</a>
                <a href="/match/analyze/{{ match.id }}" class="content-button btn btn-success">View Analytics</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}