{% extends 'sidebar_page.html' %}
{% load staticfiles %}

{% block title %}
Home
{% endblock %}

{% block header_block %}
    <div class="col-sm-8">
        <h2 class="headerLine">Home</h2>
    </div>
    <div class="col-sm-4 header-buttons">
        <a href="#" class="header-button btn btn-default">Settings</a>
    </div>
{% endblock %}
{% block content_block %}
<div class="well well-lg">
    <h3>Data Sets</h3>
    <div class="row">
        <div class="col-sm-4 homeContainer center-block">
            <div class="homeContainerLabel">
                &nbsp;
            </div>
            <img class="dataset-img center-block" src="{% static "img/dataset2_add.png" %}" />
            <a href="/dataset/upload_csv" class="btn btn-primary center-block">Create New</a>
        </div>
        {% for data_table in data_tables %}
            <div class="col-sm-4 homeContainer center-block">
                <div class="homeContainerLabel">
                    <strong>{{ data_table.name }}</strong> (n={{ data_table.n_rows }})
                </div>
                <img class="dataset-img center-block" src="{% static "img/dataset2.png" %}" />
                <a href="/dataset/view/{{ data_table.id }}" class="btn btn-primary center-block">View</a>
                <a href="/dataset/analytics/{{ data_table.id }}" class="btn btn-info center-block">Analytics</a>
            </div>
        {% endfor %}

    </div>
</div>
<div class="well well-lg">
    <h3>Matches</h3>
    <div class="row">
        <div class="col-sm-4 homeContainer center-block">
            <div class="homeContainerLabel">
                &nbsp;
            </div>
            <img class="match-img center-block" src="{% static "img/match_add.png" %}" />
            <a href="/match/create" class="btn btn-primary center-block">Create Match</a>
        </div>
        {% for match in matches %}
            <div class="col-sm-4 homeContainer center-block">
                <div class="homeContainerLabel">
                    <strong>{{ match.name }}</strong>
                </div>
                <img class="match-img center-block" src="{% static "img/match.png" %}" />
                <a href="/match/view/{{ match.id }}" class="btn btn-primary center-block">Results</a>
                <a href="/match/analyze/{{ match.id }}" class="btn btn-info center-block">Analytics</a>
                <a href="/match/feedback/{{ match.id }}" class="btn btn-success center-block">Feedback</a>
            </div>
        {% endfor %}
    </div>
</div>


<div class="dropup">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Additional Pages
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="/match/create_employeerole">Create Employee/Role Match</a></li>
    <li><a href="/match/feedback_employeerole">Feedback for Employee/Role</a></li>
    <li><a href="/match/feedback_old">Feedback Basic</a></li>
  </ul>
</div>

{% endblock %}