{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}Welcome{% endblock %}

{% block body_block %}

    <div class="page-header">
        <h2>Twine <small>Please Sign In</small></h2>
    </div>

    <form id="login_form" method="post" action="/welcome/login/" class="form-signin">

        {% csrf_token %}

        <div class="form-group">
            <label>Username:</label>
            <input type="text" name="username" class="form-control" id="usr">
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input type="password" name="password" class="form-control" id="usr">
        </div>

        <input type="submit" value="Sign In" class="btn btn-info" />
    </form>

    <hr>
    <a href="/welcome/register" class="btn btn-default" role="button">Register</a>

{% endblock %}