{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Welcome{% endblock %}
{% block body_class %}login{% endblock %}

{% block body_block %}
    <div class="login-page">
        <div class="row">
            <img class="login-logo" src="{% static "img/twine_logo.png" %}" />
        </div>

        <div class="row login-dialog">
            <div class="col-sm-12">
                <form id="login_form" method="post" action="/welcome/login/" class="form-signin">
                    {% csrf_token %}

                    <div class="input-group login-input">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </span>
                        <input type="text" name="username" class="form-control" id="usr" placeholder="Username">
                    </div>
                    <div class="input-group login-input">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                        </span>
                        <input type="password" name="password" class="form-control" id="usr" placeholder="Password">
                    </div>

                    <input type="submit" value="Sign In" class="login-button btn btn-primary" />
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer_block %}
<footer class="login-footer">
    <ul>
        <li><a href="#">About Twine</a></li>
        <li>&nbsp; &#8729; &nbsp;</li>
        <li><a href="# ">Contact Us</a></li>
    </ul>
</footer>
{% endblock %}