{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}Register{% endblock %}

{% block body_block %}

    <div class="page-header">
        <h2>Register</h2>
    </div>

    {% if registered %}

        <p>Thanks for registering with Twine.</p>
        <p>Use the links at the top to navigate.</p>

    {% else %}

        <form id="user_form" method="post" action="/welcome/register/"
                enctype="multipart/form-data" class="form">

            {% csrf_token %}
            {% bootstrap_form user_form %}
            {% bootstrap_form client_form %}

            <input type="submit" name="submit" value="Register" class="btn btn-default"/>
        </form>
    {% endif %}


{% endblock %}
