$font-stack: Helvetica, sans-serif;
$header-font-stack: Helvetica, sans-serif;

// Font weights
$light: 100;
$regular: 400;
$bold: 600;

$base-font-size: 13px;
$base-font-weight: $regular;
$base-line-height: 1.4;

$header-font-weight: $bold;