//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         #20285f;
$brand-secondary:       #4572c4;

$brand-success:         #2bca70;
$brand-info:            #5bc0de;
$brand-warning:         #e1b16c;
$brand-danger:          #e44f4b;

$login-page:            #ecf3ff;
/*

// first palette
$btn-default-bg:         #ffffff;
$btn-default-border:     #ffffff;
$btn-primary-bg:         #20285f;
$btn-primary-border:     #20285f;
$btn-success-bg:         #ef9318;
$btn-success-border:     #ef9318;
$btn-info-bg:            #4cbbdb;
$btn-info-border:        #4cbbdb;
$btn-warning-bg:         #20285f;
$btn-warning-border:     #20285f;
$btn-danger-bg:          #d1342b;
$btn-danger-border:      #d1342b;


// second palette

$btn-default-bg:         #ffffff;
$btn-default-border:     #ffffff;
$btn-primary-bg:         #20285f;
$btn-primary-border:     #20285f;
$btn-success-bg:         #115985;
$btn-success-border:     #115985;
$btn-info-bg:            #1c3a73;
$btn-info-border:        #1c3a73;
$btn-warning-bg:         #31b0d5;
$btn-warning-border:     #31b0d5;
$btn-danger-bg:          #31b0d5;
$btn-danger-border:      #31b0d5;
/*
//third palette
$btn-default-bg:         #ffffff;
$btn-default-border:     #ffffff;
$btn-primary-bg:         #0e2f39;
$btn-primary-border:     #0e2f39;
$btn-success-bg:         #44bba4;
$btn-success-border:     #44bba4;
$btn-info-bg:            #85c0b9;
$btn-info-border:        #85c0b9;
$btn-warning-bg:         #31b0d5;
$btn-warning-border:     #31b0d5;
$btn-danger-bg:          #e94f37;
$btn-danger-border:      #e94f37;

*/

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #fff !default;
//** Global text color on `<body>`.
$text-color:            $gray-dark !default;

//** Global textual link color.
$link-color:            $brand-warning;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: none;

$input-border-focus: $brand-primary;

$pagination-color:                     $text-color;
$pagination-hover-color:               $text-color;
