.match-type {
    select.custom-search-dropdown {
        // margin-top: 1rem;
        display: inline-block;
        width: auto;
        margin-left: 10px;
    }

    .radio-pulldown {
        top: 7px;
    }

    .radio-inline:not(:last-of-type) {
        margin-right: 3rem;
    }
}

.titles {
    margin-left: -20px;
    div {
        display: inline-block;
        font-weight: bold;
        font-size: 18px;
    }

    .pref-title {
        margin-left: 9.5rem;
    }

    .weight-title {
        margin-left: 8.5rem;
    }

    .additional-title {
        text-align: center;
        width: 80%;
    }

    .use-custom-prefs-title {
        margin-left: -2rem;
    }
    margin-bottom: 2rem;
}

.range-value {
    max-width: 60px;
    display: inline-block;
    font-size: 10px;
}

.slider-pref {
    margin: 1rem 0;

    .slider-label {
        display: inline-block;
        width: 50px;
        min-width: 50px;
        max-width: 50px;
    }

    .prefs-form {

        .form-group {
            display: inline-block;
            margin: 0 2rem;
            text-align: center;
        }
        input {
            display: inline-block;
        }
        label {
            display: block;
            font-weight: normal;
        }
        display: inline-block;
        margin-left: 3.5rem;
        position: relative;
        top: 16px;
    }

    .pref-importance {
        width: 50px;
        display: inline-block;
        margin-left: 3.5rem;
        text-align: center;
    }
}

.additional-prefs {
    margin-top: 20px;

    .col-sm-6:last-of-type {
        margin-top: 2px;
    }
}


.form-group {
    margin-left: 10px;
}

.pref-wrapper {
    margin: 0 -19px;
}

.prefs {
    .row:nth-child(even) {
        background-color: $table-bg-accent;
    }

    .row:nth-child(odd) {
        // background-color: white;
    }

    margin-bottom: 2rem;
}

//////////

.matchTable {
    width: 100%;

    tr {
        height: 60px;
        vertical-align: center;
    }
}

th {
    font-weight: bold;
    font-size: 18px;
}

th.colVariable {
    width: 20%;
}

th.colPreference {
    width: 20%;
}

th.colWeight {
    width: 20%;
}

.match-preference-form {

    .match-preference-input {

        display: inline-block;
        text-align: center;
        position: relative;
        margin-right: 10px;

        label {
            display: block;
            font-weight: normal;
        }
    }
}

.match-weight-form {
    padding-left: 15px;
}

.match-buttons {
    input {
        margin-left: 15px;
    }
}