.match-type {
    select.custom-search-dropdown {
        // margin-top: 1rem;
        display: inline-block;
        width: auto;
        margin-left: 10px;
    }

    .radio-pulldown {
        top: 7px;
    }
}
.titles {
    div {
        display: inline-block;
        font-weight: bold;
    }

    .pref-title {
        margin-left: 12rem;
    }

    .weight-title {
        margin-left: 11rem;
    }

    .additional-title {
        text-align: center;
        width: 80%;
    }

    .use-custom-prefs-title {
        margin-left: -1rem;
    }
    margin-bottom: 2rem;
}

.range-value {
    max-width: 70px;
    display: inline-block;
}

.slider-pref {
    margin: 1rem 0;

    .slider-label {
        display: inline-block;
        width: 50px;
        min-width: 50px;
        max-width: 50px;
    }

    .prefs-form {

        .form-group {
            display: inline-block;
            margin: 0 2rem;
            text-align: center;
        }
        input {
            display: inline-block;
        }
        label {
            display: block;
            font-weight: normal;
        }
        display: inline-block;
        margin-left: 3.5rem;
        position: relative;
        top: 16px;
    }

    .pref-importance {
        width: 50px;
        display: inline-block;
        margin-left: 2.5rem;
        text-align: center;
    }
}

.additional-prefs {
    margin-top: 20px;

    .col-sm-6:last-of-type {
        margin-top: 2px;
    }
}

.prefs-checkbox {
    float: left;
    position: absolute;
    top: -4px;
    width: 20px;
}

.form-group {
    margin-left: 50px;
}

.pref-wrapper {
    margin: 0 -19px;
}

.prefs {
    .row:nth-child(even) {
        background-color: $table-bg-accent;
    }

    .row:nth-child(odd) {
        // background-color: white;
    }

    margin-bottom: 2rem;
}