.content-header {
    .header-buttons {
        text-align: right;
        .header-button {
            margin-top: 20px;
            margin-left: 1rem;
        }
    }
}

.dataset-info {
    margin: 0 1rem 3rem;
}