$login-width: 440px;
$login-button-width: 30%;

body {
    &.login {
        background-color: $brand-primary;
        color: white;
    }
}

.login-page {
    .login-logo {
        margin: 7% auto 3%;
        display: block;
        height: 150px;
    }

    .login-dialog {
        width: $login-width;
        margin: 0 auto;
        background-color: white;
        color: $text-color;
        border-radius: 5px;
        padding: 15px;
    }

    .login-input {
        padding: 0.5em 0;
        .form-control {
            height: 40px;
        }
    }

    .login-button {
        width: $login-button-width;
        margin: 1em calc((100% - #{$login-button-width}) / 2) 0;
        text-align: center;
        color: white;
    }
}

.login-footer {
    width: $login-width;
    margin: -50px auto 0;
    ul {
        padding: 0;
        text-align: center;
        li {
            display: inline-block;
            margin: 0;
            a {
                color: white;
                &:hover {
                    text-decoration: none;
                    color: $brand-warning;
                    transition: color 0.2s;
                }
            }
        }
    }
}
