.sidebar-content {
    background-color: $brand-primary;
    color: white;
    min-height: 100%;
    padding: 0.5rem 2rem;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;

    a {
        color: white;
        transition: color 0.25s, background-color 0.25s;
    }

    a:hover, a:visited, a:link, a:active
    {
        text-decoration: none;
    }

    .sidebar-header {
        .sidebar-logo {
            margin: 0 auto;
            padding: 1rem;
            display: block;
            max-height: 80px;
            height: 100%;
            width: auto;
        }
        color: $gray-lighter;
        margin-bottom: 2rem;
    }

    .sidebar-menu {
        color: white;
        line-height: 1.75;
        .sidebar-menu-header {
            padding: 0.5rem 2rem;
            display: block;
            font-size: 18px;
            font-weight: 600;

            &:hover {
                background-color: lighten($brand-primary, 15%)
            }

            &.active {
                background-color: darken($brand-primary, 10%);
            }

            span.dd-icon {
                float: right;
                margin-top: 5px;
            }
        }
        margin: 0 -2rem;

        .sidebar-submenu {
            display: none;
            .sidebar-menu-item {
                background-color:$brand-primary;
                display: block;
                padding: 0 2rem 0 3rem;
                font-size: 16px;

                &:hover {
                    background-color: lighten($brand-primary, 15%);
                }
            }

            .sidebar-menu-item:nth-child(even) {
                background-color:lighten($brand-primary, 5%);

                &:hover {
                    background-color: lighten($brand-primary, 15%);
                }
            }

        }
        &.active {
            background-color: darken($brand-primary, 5%);
            //padding-bottom: 0;
        }
    }

    .sidebar-footer2 {
        text-align: center;
        width: $login-width;
        margin: -75px auto 0;
        font-size: 18px;
        ul {
            padding: 0;
            li {
                display: inline-block;
                margin: 0;
                a {
                    color: black;
                    &:hover {
                        text-decoration: none;
                        color: $brand-warning;
                        transition: color 0.2s;
                    }
                }
            }
        }
    }

    .sidebar-footer {
        position: absolute;
        bottom: 2rem;

        .footer-link {
            margin-top: 5px;
        }
        a:hover {
            color: $brand-warning;
        }

    }

    transition: left 0.25s;
    &.sidebar-hidden {
        left: -16.666666667%;
    }
}

.sidebar-close-button {
    background-color: black;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    z-index: 1;
    color: white;
    position: relative;
    left: -11px;
    top: 30px;
}

.sidebar-close-button-wrapper {
    position:fixed;
    top: 30px;
}

.content-header {
    margin: 0 -15px 2rem;
    padding-bottom: 1rem;

    h2 {
        text-transform: uppercase;
        font-size: 30px;
        margin-top: 22px;
        padding-left: 1rem;
    }

    background-color: lighten($brand-secondary, 25%);
}