.dataTables_wrapper {
    max-width: 100%;

    .dt-buttons {
        float: left;
    }
    .dt-button {
        display: inline-block;
        padding: 5px 10px;
        margin-right: 3px;

        &.disabled {
            color: gray;
            cursor: default;
        }
    }
}

table {
    border: 0;
    * {
        border: 0!important;
    }
}