/**
 * MAIN
 */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.no-user-select {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}

.btn:focus, .btn:active {
  outline: none !important;
}

.dashboard .row {
  margin: 0;
  margin-left: -10px;
}

.dashboard .col {
  padding-right: 0;
  padding-left: 10px;
}

.dashboard .section {
  position: relative;
  padding: 20px;
  border: 1px solid lightgray;
}

.dashboard .section-top-table .row {
  text-align: center;
}

.dashboard .section-top-table .btn {
  display: inline-block;
  margin-right: 1em;
}

.dashboard .section-top-table .count {
  font-size: 10px;
}

.dashboard .section-top-view {
  margin-bottom: 10px;
  border-top: none;
}

.dashboard .section-top-view .row {
  text-align: center;
}

.dashboard .section-top-view .view {
  display: inline-block;
  padding: 0px 15px;
}

.dashboard .section-top-view .view.active {
  background-color: lightblue;
}

.dashboard .section-top-view .view.active a {
  text-decoration: none !important;
  color: #fff;
}

.dashboard .section-left {
  height: 44em;
  margin-bottom: 1.5em;
  overflow: auto;
  font-size: 16px;
}

.dashboard .section-left ul {
  list-style: none;
  padding: 0px;
}

.dashboard .section-left .typeName {
  cursor: pointer;
}

.dashboard .section-left .typeName.active {
  background-color: #a1c9d7;
  color: #fff;
}

.dashboard .section-left .typeName:hover:not(.active) {
  background-color: rgba(173, 216, 230, 0.11);
}

.dashboard .section-left .fields {
  cursor: pointer;
  padding-left: 10px;
}

.dashboard .section-left .fields.active {
  background-color: lightblue;
  color: #fff;
}

.dashboard .section-left .fields:hover:not(.active) {
  background-color: rgba(173, 216, 230, 0.11);
}

.dashboard .section-left .fieldList {
  visibility: hidden;
  height: 0px;
}

.dashboard .section-left .open {
  visibility: visible;
  height: auto;
}

.dashboard .section-left .arrow {
  color: #0070a7;
  opacity: .5;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top-width: 5px;
  border-top-style: solid;
  display: inline-block;
  margin-left: 0;
  margin-top: 6px;
  margin-right: 2px;
  float: left;
  -webkit-transition: 100ms;
  transition: 100ms;
  -webkit-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
  position: relative;
  cursor: pointer;
}

.dashboard .section-left .arrow.open {
  -webkit-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
  opacity: 1;
}

.dashboard .section-right {
  height: 44em;
  margin-bottom: 1.5em;
}

.btn-pad {
    margin-top: 20px;
}

.dashboard .section-right .chart-container {
  position: relative;
  height: 40em;
  margin-bottom: 2.5em;
  padding-right: 100px;
  padding-top: 20px;
}

.dashboard .section-right .chart-container #chart {
  height: 100%;
  width: 100%;
}

.dashboard .section-right .chart-container #chart .grid {
  pointer-events: none;
}

.dashboard .section-right .chart-container #chart .grid .tick {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.dashboard .section-right .chart-container #chart .grid path {
  stroke-width: 0;
}

.dashboard .section-right .chart-container #chart .bar-label {
  pointer-events: none;
}

.dashboard .section-right .chart-container .controls {
  width: 100%;
  padding: 7px 10px 0px 10px;
}

.dashboard .section-right .chart-container .controls .sort {
  display: inline-block;
}

.dashboard .section-right .chart-container .controls .scale {
  float: right;
  display: inline-block;
}

.dashboard .section-right .chart-container .controls .view {
  display: inline-block;
  text-align: center;
  margin: 5px;
}

.dashboard .section-right .chart-container .controls .view a {
  text-decoration: underline;
}

.dashboard .section-right .chart-container .controls .view.active {
    color: black;
}

.dashboard .section-right .chart-container .controls .view.active a {
  text-decoration: none !important;
    color: black;
}

.dashboard .section-right .chart-container .dropdown {
  position: absolute;
  top: 0px;
  right: 0px;
}

.dashboard .section-right .db-grid-container {
  position: relative;
  height: 12em;
  padding-right: 100px;
}

.dashboard .section-right .db-grid-container .db-grid {
  height: 100%;
  width: 100%;
  margin: 0;
}

.dashboard .section-right .db-grid-container .dropdown {
  position: absolute;
  top: 0px;
  right: 0px;
}

.dashboard .chartTitle {
  position: absolute;
  top: -1px;
  left: -1px;
  padding-left: 10px;
  border-bottom-right-radius: 5px;
  background-color: #24416f;
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
  width: 100%;
}

ul.typeList {
    margin-top: 10px;
}

.typeName {
    margin-top: 10px;
}

.tip {
  position: absolute;
  font: 12px sans-serif;
  background-color: rgba(0, 0, 0, 0.71);
  border-radius: 3px;
  color: #fff;
  z-index: 1000;
}

.tip ul {
  list-style: none;
  margin: 0;
  padding: 2px 4px;
}

.tip ul > li {
  margin: 0;
  white-space: nowrap;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 80px;
}

.dropdown .dropbtn {
  width: 100%;
  background-color: lightblue;
  color: white;
  padding: 6px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.dropdown .dropdown-content a {
  color: black;
  padding: 6px;
  text-decoration: none;
  display: block;
}

.dropdown .dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #9abfcd;
}
