{% extends 'sidebar_page.html' %}
{% load staticfiles %}

{% block title %}View Result{% endblock %}
{% block header_block %}
    <div class="col-sm-6">
        <h2>Match Analytics</h2>
    </div>

    <div class="col-sm-6 header-buttons">
        <a href="/match/view/{{ match.id }}" class="header-button btn btn-primary">
            &nbsp; &nbsp; Results &nbsp; &nbsp;
        </a>
        <a href="/match/feedback/{{ match.id }}" class="header-button btn btn-success" id="feedback-button">
            &nbsp; &nbsp; Feedback &nbsp; &nbsp;
        </a>
    </div>
{% endblock %}
{% block content_block %}
<div class="analytics-wrapper">
    <div class="row overview-wrapper">
        <div class="col-sm-12">
            <div class="well well-lg overview">
                <div class="row">
                    <div class="col-sm-12 block-header">
                        <h3>Match Overview</h3>
                    </div>
                    <div class="col-sm-12 block-content overview-content">
                        <div class="row">
                            {% for item in overview_items %}
                            <div class="col-sm-4 overview-item">
                                <img class="overview-img" src="{% static item.img %}" />
                                <div class="overview-text">
                                    <p>{{ item.title }}</p>
                                    <h3>{{ item.value }}</h3>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row recommendations-wrapper">
        <div class="col-sm-12">
            <div class="well well-lg recommendations">
                <div class="row">
                    <div class="col-sm-12 block-header">
                        <h3>Recommendations</h3>
                    </div>
                    <div class="col-sm-12 block-content recommendations-content">
                        <p>
                            The easiest variables to match on were Years of Experience, Educational Background, and Salary. 98%, 82%, and 81% of your matches satisfied criteria for each of these variables, respectively.
                        </p>
                        <p>
                            The most difficult variables to match on were Location and Management Experience.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-sm-12 network-wrapper">
            <div class="well well-lg network-diagram">
                <div class="row">
                    <div class="col-sm-12 block-header"><h3>Network Diagram</h3></div>
                    <div class="col-sm-12 block-content diagram-content">
                        <img class="diagram-img" src="{% static "img/demo/network_diagram2.png" %}" alt="Twine logo" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}