{% extends 'sidebar_page.html' %}

{% load bootstrap3 %}

{% block title %}Create Match{% endblock %}
{% block header_block %}
    <div class="col-sm-4">
        <h2 class="headerLine">Create Match</h2>
    </div>
{% endblock %}
{% block content_block %}
    <form id="user_form" method="post" action="/match/create_match/" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        <div class="well match-type">
            <h3>Match Type</h3>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="radio-teammates" value="teammates"> Create Teams
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="radio-partners" value="partners"> Find Ideation Partners
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="radio-mentors" value="mentors"> Assign Mentors
            </label>
            <label class="radio-inline">
                <input type="radio" class="radio-pulldown" name="inlineRadioOptions" id="radio-custom" value="custom">
                <select class="form-control custom-search-dropdown" id="custom-search">
                    <option>July 2016 Offsite</option>
                    <option>Founder's Match</option>
                    <option>CTO / CEO Dinner</option>
                </select>
            </label>
            <label class="radio-inline">
                <input type="radio" class="radio-pulldown" name="inlineRadioOptions" id="radio-newcustom" value="newcustom">
                <input type="text" id="newcustom" class="form-control" placeholder="New custom match...">
            </label>
        </div>
        <div class="well custom-search-options">
            <div class="prefs">
                <table class="matchTable">
                    <thead>
                        <tr>
                            <th class="colVariable">Variable</th>
                            <th class="colPreference">Preference</th>
                            <th class="colWeight">Weight</th>
                            <th class="colCustom">Custom</th>
                            <th class="colCustomOptions">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Gender</td>
                            <td>
                                <div class="match-preference-form">
                                    <div class="match-preference-input">
                                        <input type="radio" name="gender-prefs" value="1">
                                        <label for="gender-prefs">Different</label>
                                    </div>
                                    <div class="match-preference-input">
                                        <input type="radio" name="gender-prefs" value="2">
                                        <label for="gender-prefs">Any</label>
                                    </div>
                                    <div class="match-preference-input">
                                        <input type="radio" name="gender-prefs" value="3">
                                        <label for="gender-prefs">Similar</label>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="match-weight-form">
                                    <input type="text" name="gender-weight" class="match-weight-input" placeholder="1-5" value="1">
                                </div>
                            </td>
                            <td>
                                <input type="checkbox" class="prefs-checkbox form-control match-custom-checkbox" name="gender-enabled">
                            </td>
                            <td>
                                <div class="match-custom-options">
                                    <select multiple class="form-control selectpicker additional-pref-select" disabled="disabled"
                                            data-none-selected-text="Select one or more genders..." id="placeholder">
                                        <option>Male</option>
                                        <option>Female</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="well custom-search-options">
            <div class="prefs">
                <div class="row titles">
                    <div class="col-sm-1">
                        <div class="category-title">Variable</div>
                    </div>
                    <div class="col-sm-2">
                        <div class="pref-title">Preference</div>
                    </div>
                    <div class="col-sm-1">
                        <div class="weight-title">Weight</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="use-custom-prefs-title">Custom?</div>
                        <div class="additional-title">Custom Preference</div>
                    </div>
                </div>
                <div class="pref-wrapper row sortable">
                    <div class="col-sm-6 slider-pref pref">
                        <div class="slider-label">Ethnicity</div>
                        <div class="form prefs-form">
                            <div class="form-group">
                                <input type="radio" name="ethnicity-prefs" value="1">
                                <label for="ethnicity-prefs">Different</label>
                            </div>
                            <div class="form-group">
                                <input type="radio" name="ethnicity-prefs" value="2">
                                <label for="ethnicity-prefs">Any</label>
                            </div>
                            <div class="form-group">
                                <input type="radio" name="ethnicity-prefs" value="3">
                                <label for="ethnicity-prefs">Similar</label>
                            </div>
                        </div>
                        <input type="text" name="ethnicity-weight" class="form-control pref-importance" placeholder="1-5" value="1">
                    </div>
                    <div class="col-sm-6 additional-prefs">
                        <input type="checkbox" class="prefs-checkbox form-control" name="ethnicities-enabled">
                        <div class="form-group">
                            <!--<label for="placeholder">Select ethnicities</label>-->
                            <select multiple class="form-control selectpicker additional-pref-select" disabled="disabled" data-none-selected-text="Select one or more ethnicities..." id="placeholder">
                                <option>Example 1</option>
                                <option>Example 2</option>
                                <option>Example 3</option>
                                <option>Example 4</option>
                                <option>Example 5</option>
                                <option>Example 6</option>
                                <option>Example 1</option>
                                <option>Example 2</option>
                                <option>Example 3</option>
                                <option>Example 4</option>
                                <option>Example 5</option>
                                <option>Example 1</option>
                                <option>Example 2</option>
                                <option>Example 3</option>
                                <option>Example 4</option>
                                <option>Example 5</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="pref-wrapper row sortable">
                    <div class="col-sm-6 slider-pref pref">
                        <div class="slider-label">College</div>
                        <div class="form prefs-form">
                            <div class="form-group">
                                <input type="radio" name="college-prefs" value="1">
                                <label for="college-prefs">Different</label>
                            </div>
                            <div class="form-group">
                                <input type="radio" name="college-prefs" value="2">
                                <label for="college-prefs">Any</label>
                            </div>
                            <div class="form-group">
                                <input type="radio" name="college-prefs" value="3">
                                <label for="college-prefs">Similar</label>
                            </div>
                        </div>
                        <input type="text" name="college-weight" class="form-control pref-importance" placeholder="1-5" value="1">
                    </div>
                    <div class="col-sm-6 additional-prefs">
                        <input type="checkbox" class="prefs-checkbox form-control" name="ethnicities-enabled">
                        <div class="form-group">
                            <select multiple class="form-control selectpicker additional-pref-select" disabled="disabled" data-none-selected-text="Select one or more colleges..." id="placeholder">
                                <option>Example 1</option>
                                <option>Example 2</option>
                                <option>Example 3</option>
                                <option>Example 4</option>
                                <option>Example 5</option>
                                <option>Example 6</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="pref-wrapper row sortable">
                    <div class="col-sm-6 slider-pref pref">
                        <div class="slider-label">Revenue</div>
                        <div class="form prefs-form">
                            <div class="form-group">
                                <input type="radio" name="revenue-prefs" value="1">
                                <label for="revenue-prefs">Different</label>
                            </div>
                            <div class="form-group">
                                <input type="radio" name="revenue-prefs" value="2">
                                <label for="revenue-prefs">Any</label>
                            </div>
                            <div class="form-group">
                                <input type="radio" name="revenue-prefs" value="3">
                                <label for="revenue-prefs">Similar</label>
                            </div>
                        </div>
                        <input type="text" name="revenue-weight" class="form-control pref-importance" placeholder="1-5" value="1">
                    </div>
                    <div class="col-sm-6 additional-prefs">
                        <input type="checkbox" class="prefs-checkbox form-control" name="ethnicities-enabled">
                        <div class="form-group slider-range">
                            <div class="row">
                                <div class="col-sm-6">
                                    $
                                    <input type="number" class="form-control range-value" disabled="disabled" placeholder="20000" value="20000">
                                    to $
                                    <input type="number" class="form-control range-value" disabled="disabled" placeholder="50000" value="50000">
                                </div>
                                <div class="col-sm-6">
                                    <input id="ex2" data-provide="slider" disabled="disabled" type="text" class="span2" value="" data-slider-min="0" data-slider-max="100000" data-slider-step="1000" data-slider-value="[20000,50000]" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="button" name="choose-categories" value="+ Add variable" class="btn btn-warning" />
        </div>
        <div class="well match-buttons">
            <input type="button" name="save-custom-search" value="Save Search" class="btn btn-primary" />
            <input type="submit" name="submit" value="Run Matches" class="btn btn-success"/>
        </div>
    </form>
        <!--<form id="user_form" method="post" action="/match/create_match/"
            enctype="multipart/form-data" class="form">

        {% csrf_token %}
        {% bootstrap_form match_config_form %}

        <input type="submit" name="submit" value="Create Match" class="btn btn-default"/>
    </form>-->

{% endblock %}
