{% extends 'sidebar_page.html' %}

{% load bootstrap3 %}
{% load widget_tweaks %}

{% block title %}Create Match{% endblock %}
{% block header_block %}
    <div class="col-sm-4">
        <h2 class="headerLine">Create Match</h2>
    </div>
{% endblock %}

{% block content_block %}

    <form id="user_form" method="post" action="/match/create/"
        enctype="multipart/form-data" class="form">

        {% csrf_token %}
        {{ match_form.non_field_errors }}

        <div class="well">
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group">
                        <h3>1. Match Name</h3>
                        <input id="id_name" name="name" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-8">
                    <h3>2. Select Task</h3>
                    <div class="row">
                        <div class="col-sm-6">
                            <a class="btn btn-default btn-lg">
                                <b>GROUP</b><br />items within 1 data set
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <a class="btn btn-default btn-lg">
                                <b>ASSIGN</b><br />items across 2 data sets
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="well" id="task-group-options">
            <h3>3. GROUP Options</h3>
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <div class="fieldWrapper">
                        {{ match_form.k_size.errors }}
                        <h4>Select Group Size</h4>
                        {% render_field match_form.k_size class+="form-control" %}
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <div class="form-group">
                        <div class="fieldWrapper">
                            <h4>Select Data</h4>
                            <select class="form-control" id="id_data_tables_single" name="data_tables_single">
                                <option value="" selected="selected">--click to select--</option>
                                <option value="12">Employees</option>
                                <option value="11">Roles</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="well" id="task-assign-options">
            <h3>3. ASSIGN Options</h3>
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <h4>Assignment Direction</h4>
                    <div class="row matchSectionSmall">
                        <input id="radio-capacity-onetomany" class="toggleView" name="capacity" type="radio" value="onetomany">
                        Match each <b>Employee</b> with top <input type='text' name='onetomany_n' size='3' class='match-weight-input' placeholder='1-5' value='5'> <b>Roles</b>
                    </div>
                    <div class="row">
                        <input id="radio-capacity-manytoone" class="toggleView" name="capacity" type="radio" value="manytoone">
                        Match top <input type='text' name='manytoone_n' size='3' class='match-weight-input' placeholder='1-5' value='5'> <b>Employees</b> with each <b>Role</b>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <h4>Duplicates</h4>
                    <div class="row matchSectionSmall">
                        <input id="radio-duplicates-yes" class="toggleView" name="duplicates" type="radio" value="yes">
                        Allow duplicates
                    </div>
                    <div class="row">
                        <input id="radio-duplicates-no" class="toggleView" name="duplicates" type="radio" value="no">
                        Do not allow duplicates
                    </div>
                </div>
            </div>
        </div>

        <div class="well" id="task-group-columns">
            <h3>4. Select Columns</h3>
            <div class="row">
                {% for data_column_id, data_column_name, data_column_type in match_form.data_columns %}
                    <div class="col-md-3">
                        <a class="btn btn-default">
                            {{ data_column_name }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!--
        <div class="well custom-search-options">
            <div class="prefs">
                <table class="matchTable">
                    <thead>
                        <tr>
                            <th class="colVariable">Variable</th>
                            <th class="colPreference">Preference</th>
                            <th class="colWeight">Weight</th>
                            <th class="colCustom">Custom Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><h4>College</h4></td>
                            <td>
                                <div class='match-preference-form'>
                                    <div class='match-preference-input'>
                                        <input type='radio' name='gender-prefs0' value='1'><label for='gender-prefs0'>Different</label>
                                    </div>
                                    <div class='match-preference-input'>
                                        <input type='radio' name='gender-prefs0' value='2'><label for='gender-prefs0'>Any</label>
                                    </div>
                                    <div class='match-preference-input'>
                                        <input type='radio' name='gender-prefs0' value='3'><label for='gender-prefs0'>Similar</label>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class='match-weight-form'>
                                    <input type='text' name='gender-weight0' size='6' class='match-weight-input' placeholder='1-5' value='5'>
                                </div>
                            </td> <td>
                                <div class='match-custom-options'>
                                    <select multiple class='form-control selectpicker additional-pref-select'
                                            data-none-selected-text='Select one or more College...' id='placeholder'>
                                        <option>University of Pennsylvania </option><option> Temple University </option><option> Drexel University </option><option> Philadelphia University </option><option> La Salle University </option><option> Boston College</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><h4>Major </h4></td>
                            <td>
                                <div class='match-preference-form'>
                                    <div class='match-preference-input'>
                                        <input type='radio' name='gender-prefs1' value='1'><label for='gender-prefs1'>Different</label>
                                    </div>
                                    <div class='match-preference-input'>
                                        <input type='radio' name='gender-prefs1' value='2'><label for='gender-prefs1'>Any</label>
                                    </div>
                                    <div class='match-preference-input'>
                                        <input type='radio' name='gender-prefs1' value='3'><label for='gender-prefs1'>Similar</label>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class='match-weight-form'>
                                    <input type='text' name='gender-weight1' size='6' class='match-weight-input' placeholder='1-5' value='4'>
                                </div>
                            </td> <td>
                                <div class='match-custom-options'>
                                    <select multiple class='form-control selectpicker additional-pref-select'
                                            data-none-selected-text='Select one or more Major ...' id='placeholder'>
                                        <option>Computer Science </option><option> Mathematics </option><option> Physics </option><option> Economics </option><option> Business </option><option> Psychology </option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <input type="button" name="choose-categories" value="+ Add variable" class="btn btn-warning" />
        </div>
        <div class="well match-buttons">
            <input type="button" name="save-custom-search" value="Save Search" class="btn btn-primary" />
            <input type="submit" name="submit" value="Run Matches" class="btn btn-success"/>
        </div>
        -->

        <input type="submit" name="submit" value="Create Match" class="btn btn-default"/>
    </form>




{% endblock %}
