{% extends 'sidebar_page.html' %}

{% load bootstrap3 %}
{% load widget_tweaks %}

{% block title %}Create Match{% endblock %}
{% block header_block %}
    <div class="col-sm-4">
        <h2 class="headerLine">Create Match</h2>
    </div>
{% endblock %}

{% block content_block %}

    <form id="user_form" method="post" action="/match/create/"
        enctype="multipart/form-data" class="form">

        {% csrf_token %}
        {{ match_form.non_field_errors }}

        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <div class="input-group">
                        <h3>1. Match Name</h3>
                        <input id="id_name" name="name" type="text" size="100" class="form-control">
                        <p>Pick something unique and descriptive, like "Employee/Mentor Match - July 2016"</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <h3>2. Select Task</h3>
                    <div class="row">
                        <div class="col-sm-6">
                            <a id="task_cluster_button" class="btn btn-default btn-lg">
                                <input id="task_cluster" name="task" type="radio" value="cluster" style="display: none;" />
                                <b>GROUP</b><br />items within 1 data set
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <a id="task_assign_button" class="btn btn-default btn-lg">
                                <input id="task_assign" name="task" type="radio" value="assign" style="display: none;" />
                                <b>ASSIGN</b><br />items across 2 data sets
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="well" id="task_cluster_options">
            <h3>3. Match Options</h3>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="fieldWrapper">
                            <h4>Select Dataset to Group</h4>
                            <select class="form-control" id="data_tables_single" name="data_tables_single">
                                <option value="" selected="selected">-- click to select --</option>
                                {% for data_table_id, data_table_name in match_form.data_tables %}
                                    <option value="{{ data_table_id }}">{{ data_table_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <div class="fieldWrapper">
                        {{ match_form.k_size.errors }}
                        <h4>Select Group Size</h4>
                        {% render_field match_form.k_size class+="form-control" %}
                    </div>
                </div>
            </div>
        </div>

        <div class="well" id="task_assign_options">
            <h3>3. Match Options</h3>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="fieldWrapper">
                            <h4>Select Dataset #1</h4>
                            <select class="form-control" id="data_tables_multipleA" name="data_tables_multiple">
                                <option value="" selected="selected">-- click to select --</option>
                                {% for data_table_id, data_table_name in match_form.data_tables %}
                                    <option value="{{ data_table_id }}">{{ data_table_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <div class="form-group">
                        <div class="fieldWrapper">
                            <h4>Select Dataset #2</h4>
                            <select class="form-control" id="data_tables_multipleB" name="data_tables_multiple">
                                <option value="" selected="selected">-- click to select --</option>
                                {% for data_table_id, data_table_name in match_form.data_tables %}
                                    <option value="{{ data_table_id }}">{{ data_table_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-1">
                    <h4>Assignment Direction</h4>

                    <div class="row matchSectionSmall">
                        <input id="id_assign_direction_0" name="assign_direction" type="radio" value="onetomany">
                        Match each item in Dataset #1 to multiple items in Dataset #2
                    </div>
                    <div class="row">
                        <input id="id_assign_direction_1" name="assign_direction" type="radio" value="manytoone">
                        Assign multiple items in Dataset #1 to each item in Dataset #2
                    </div>
                </div>

                <div class="col-md-3 col-md-offset-1">
                    <h4>Duplicates</h4>
                    <div class="row matchSectionSmall">
                        <input id="id_assign_duplicates_0" name="assign_duplicates" type="radio" value="True">
                        Allow duplicates
                    </div>
                    <div class="row">
                        <input id="id_assign_duplicates_1" name="assign_duplicates" type="radio" value="False">
                        Do not allow duplicates
                    </div>
                </div>
            </div>
        </div>

        <div class="well" id="task_cluster_columns">
            <h3>4. Select Columns</h3>
            <div class="row columnButton">
                {% for data_table_id, data_column_id, data_column_name, data_column_dtype in match_form.data_columns %}
                    <div class="col-md-3" data-column="none" data-dt-id="{{ data_table_id }}">
                        <a data-dc-id="{{ data_column_id }}" class="btn btn-default task_cluster_column_button">
                            <input id="task_cluster_columns_checkbox_{{ data_column_id }}" name="task_cluster_columns" type="checkbox" value="{{ data_column_id }}" style="display: none;" />
                            {{ data_column_name }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="well" id="task_assign_columns">
            <h3>4. Select Columns</h3>
            <div class="row">
                <div class="col-md-6">
                    <h4>Dataset #1 Columns</h4>
                    <div class="row columnButton">
                        {% for data_table_id, data_column_id, data_column_name, data_column_dtype in match_form.data_columns %}
                            <div class="col-md-3" data-column="A" data-dt-id="{{ data_table_id }}">
                                <a data-dc-id="{{ data_column_id }}" class="btn btn-default task_assignA_column_button">
                                    <input id="task_assignA_columns_checkbox_{{ data_column_id }}" name="task_assignA_columns" type="checkbox" value="{{ data_column_id }}" style="display: none;" />
                                    {{ data_column_name }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6">
                    <h4>Dataset #2 Columns</h4>
                    <div class="row columnButton">
                        {% for data_table_id, data_column_id, data_column_name, data_column_dtype in match_form.data_columns %}
                            <div class="col-md-3" data-column="B" data-dt-id="{{ data_table_id }}">
                                <a data-dc-id="{{ data_column_id }}" class="btn btn-default task_assignB_column_button">
                                    <input id="task_assignB_columns_checkbox_{{ data_column_id }}" name="task_assignB_columns" type="checkbox" value="{{ data_column_id }}" style="display: none;" />
                                    {{ data_column_name }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div id="matching_rules" class="well custom-search-options">
            <h3>5. Select Matching Rules and Weights</h3>
            <div class="prefs">
                <table class="matchTable">
                    <thead>
                        <tr>
                            <th class="colVariable">Variable</th>
                            <th class="colPreference">Preference</th>
                            <th class="colWeight">Weight</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data_table_id, data_column_id, data_column_name, data_column_dtype in match_form.data_columns %}
                            <tr id="cluster_rule_row_{{ data_column_id }}" class="matching_rule cluster_rule_for_data_table_{{ data_table_id }}">
                                <td><h4>{{ data_column_name }}</h4></td>
                                <td>
                                    <div class='match-preference-form'>
                                        {% if data_column_dtype == 'int64' %}
                                            {% for option_value in match_form.cluster_rule_numeric_options %}
                                                <div class='match-preference-input'>
                                                    <input type='radio' name='cluster_rule_{{ data_column_id }}' value='{{ option_value }}'><label for='gender-prefs0'>{{ option_value }}</label>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {% for option_value in match_form.cluster_rule_string_options %}
                                                <div class='match-preference-input'>
                                                    <input type='radio' name='cluster_rule_{{ data_column_id }}' value='{{ option_value }}'><label for='gender-prefs0'>{{ option_value }}</label>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </td>
                                <td>
                                    <div class='match-weight-form'>
                                        <input type='text' name='cluster_weight_{{ data_column_id }}' size='6' class='match-weight-input' placeholder='1-5' value='5'>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div id="run_match" class="well">
            <h3>Run Match!</h3>
            <input type="button" name="save-custom-search" value="Save For Later" class="btn btn-primary" />
            <input type="submit" name="submit" value="Save and Run Match" class="btn btn-success"/>
        </div>
    </form>

{% endblock %}
