{% extends 'sidebar_page.html' %}

{% load bootstrap3 %}

{% block title %}Find Matches{% endblock %}
{% block header_block %}
    <div class="col-sm-4">
        <h2>Find Matches</h2>
    </div>
{% endblock %}
{% block content_block %}
    <form id="user_form" method="post" action="/match/create_match/" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        <div class="well match-type">
            <h3>Match Type</h3>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="radio-teammates" value="teammates"> Teammates
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="radio-partners" value="partners"> Ideation Partners
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="radio-mentors" value="mentors"> Mentors
            </label>
            <label class="radio-inline">
                <input type="radio" class="radio-pulldown" name="inlineRadioOptions" id="radio-custom" value="custom">
                <select class="form-control custom-search-dropdown" id="custom-search">
                    <option>Custom search 1</option>
                    <option>Custom search 2</option>
                    <option>Custom search 3</option>
                </select>
            </label>
            <label class="radio-inline">
                <input type="radio" class="radio-pulldown" name="inlineRadioOptions" id="radio-newcustom" value="newcustom">
                <input type="text" id="newcustom" class="form-control" placeholder="New custom match...">
            </label>
        </div>
        <div class="well custom-search-options hidden">
        </div>
        <input type="" name="save-custom-search" value="Save Custom Search" class="btn btn-primary hidden" />
        <input type="submit" name="submit" value="Generate Matches" class="btn btn-success"/>
    </form>
        <!--<form id="user_form" method="post" action="/match/create_match/"
            enctype="multipart/form-data" class="form">

        {% csrf_token %}
        {% bootstrap_form match_config_form %}

        <input type="submit" name="submit" value="Create Match" class="btn btn-default"/>
    </form>-->

{% endblock %}
