{% extends 'sidebar_page.html' %}

{% load bootstrap3 %}
{% load widget_tweaks %}

{% block title %}Create Match{% endblock %}
{% block header_block %}
    <div class="col-sm-4">
        <h2 class="headerLine">Create Match</h2>
    </div>
{% endblock %}

{% block content_block %}
    <form id="user_form" method="post" action="/match/create_match/" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        <div class="well">

            <h3>Select Task</h3>
            <input id="radio-task-cluster" class="toggleView" name="task" type="radio" value="cluster">
            Cluster: group people within 1 data set
            <br />
            <input id="radio-task-assign" class="toggleView" name="task" type="radio" value="assign">
            Assign: match people across 2 data sets

        </div>
        <div class="well" id="view-radio-cluster">
            <h3>Cluster Settings</h3>

            <h4>Global Settings</h4>
            <label for="{{ match_form.data_tables_single.id_for_label }}">Select data set:</label>
            {% render_field match_form.data_tables_single class+="form-control" %}

            <label for="{{ match_form.k_size.id_for_label }}">Select cluster size:</label>
            {% render_field match_form.k_size class+="form-control" %}

            <h4>Variable Selection</h4>
            <div class="fieldWrapper">
                {{ match_form.columns.errors }}
                <label for="{{ match_form.colnames.id_for_label }}">Select columns to match on:</label>
                <div class="row">
                    {% for column in match_form.columns %}
                        <div class="col-sm-3 checkbox">
                            {{ column }}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <h4>Define the Matching Rules</h4>
            <div class="prefs">
                <table class="matchTable">
                    <thead>
                        <tr>
                            <th class="colVariable">Variable</th>
                            <th class="colPreference">Preference</th>
                            <th class="colWeight">Weight</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for column in match_form.columns %}
                            <tr>
                                <td>
                                    <h4>{{ column }}</h4>
                                </td>
                                <td>
                                    <div class='match-preference-form'>
                                        <div class='match-preference-input'>
                                            <input type='radio' name='pref{{ column }}' value='1'>
                                            <label for='pref{{ column }}'>Similar</label>
                                        </div>
                                        <div class='match-preference-input'>
                                            <input type='radio' name='pref{{ column }}' value='2'>
                                            <label for='pref{{ column }}'>Different</label>
                                        </div>
                                        <div class='match-preference-input'>
                                            <input type='radio' name='pref{{ column }}' value='3'>
                                            <label for='pref{{ column }}'>Maximize</label>
                                        </div>
                                        <div class='match-preference-input'>
                                            <input type='radio' name='pref{{ column }}' value='4'>
                                            <label for='pref{{ column }}'>Minimize</label>
                                        </div>
                                        <div class='match-preference-input'>
                                            <input type='radio' name='pref{{ column }}' value='5'>
                                            <label for='pref{{ column }}'>Custom:</label>

                                            <select class="form-control custom-search-dropdown" id="custom-search">
                                                <option><</option>
                                                <option>></option>
                                                <option>=</option>
                                            </select>

                                            <label class="radio-inline">
                                                <input type="text" class="form-control" placeholder="_.">
                                            </label>

                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class='match-weight-form'>
                                        <input type='text' name='weight{{ column }}' size='6' class='match-weight-input' placeholder='1-5' value='3'>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <input type="button" name="save-custom-search" value="Save Search" class="btn btn-primary" />
            <input type="submit" name="submit" value="Run Matches" class="btn btn-success"/>
        </div>

        <div class="well" id="view-radio-assign">
            <h3>Assign Settings</h3>

            <h4>Global Settings</h4>
            <label for="{{ match_form.data_tables_single.id_for_label }}">Select 1st data set:</label>
            {% render_field match_form.data_tables_single class+="form-control" %}

            <label for="{{ match_form.data_tables_single.id_for_label }}">Select 2nd data set:</label>
            {% render_field match_form.data_tables_single class+="form-control" %}

            I want to match:
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="radio-cluster" value="onetomany">
                1 A with multiple Bs
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="radio-assign" value="manytoone">
                multiple As with 1 B
            </label>

            <br />
            I want duplicates:
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="radio-cluster" value="yes">
                Yes
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="radio-assign" value="no">
                No
            </label>

            <h4>Select Columns</h4>
            <div class="fieldWrapper">
                {{ match_form.columns.errors }}
                <div class="row">
                    <div class="col-md-6">
                        <label for="{{ match_form.colnames.id_for_label }}">Select columns in 1st data set:</label>
                        {% for column in match_form.columns %}
                            <div>
                                <a href="#" class="btn btn-info">{{ column }}</a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-6">
                        <label for="{{ match_form.colnames.id_for_label }}">Select columns in 2nd data set:</label>
                        {% for column in match_form.columns %}
                            <div>
                                <a href="#" class="btn btn-info">{{ column }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <h4>Define the Matching Rules</h4>
            <div class="prefs">
                <table class="matchTable">
                    <thead>
                        <tr>
                            <th class="colVariable">Variable</th>
                            <th class="colPreference">Preference</th>
                            <th class="colWeight">Weight</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <input type="button" name="save-custom-search" value="Save Search" class="btn btn-primary" />
            <input type="submit" name="submit" value="Run Matches" class="btn btn-success"/>
        </div>
    </form>

{% endblock %}
