{% extends 'sidebar_page.html' %}

{% load bootstrap3 %}
{% load widget_tweaks %}

{% block title %}Create Match{% endblock %}
{% block header_block %}
    <div class="col-sm-4">
        <h2 class="headerLine">Create Match</h2>
    </div>
{% endblock %}

{% block content_block %}
    <form id="user_form" method="post" action="/match/create_match/" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        <div class="well">
            <h3>Select Task</h3>
            <div class="row">
                <div class="col-md-4">
                    <a class="btn btn-default btn-lg">
                        <b>Cluster</b><br />Group people within 1 data set
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-primary btn-lg">
                        <b>Assign</b><br />Match people across 2 data sets
                    </a>
                </div>
            </div>
        </div>

        <div class="well">
            <div class="row matchSection">
                <div class="col-md-3">
                    <h3>Select Data</h3>
                    <select class="form-control" name="data_tables_single">
                        <option value="" selected="selected">1st Data Set:</option>
                        <option value="12">Employees</option>
                        <option value="11">Roles</option>
                    </select>
                    <br />
                    <select class="form-control" name="data_tables_single">
                        <option value="" selected="selected">2nd Data Set:</option>
                        <option value="12">Employees</option>
                        <option value="11">Roles</option>
                    </select>
                </div>
                <div class="col-md-7 col-md-offset-1">
                    <h3>Assignment Options</h3>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row matchSectionSmall">
                                <input id="radio-capacity-onetomany" class="toggleView" name="capacity" type="radio" value="onetomany">
                                Match each <b>Employee</b> with top <input type='text' name='onetomany_n' size='3' class='match-weight-input' placeholder='1-5' value='5'> <b>Roles</b>
                            </div>
                            <div class="row">
                                <input id="radio-capacity-manytoone" class="toggleView" name="capacity" type="radio" value="manytoone">
                                Match top <input type='text' name='manytoone_n' size='3' class='match-weight-input' placeholder='1-5' value='5'> <b>Employees</b> with each <b>Role</b>
                            </div>
                        </div>
                        <div class="col-sm-4 col-sm-offset-2">
                            <div class="row matchSectionSmall">
                                <input id="radio-duplicates-yes" class="toggleView" name="duplicates" type="radio" value="yes">
                                Allow duplicates
                            </div>
                            <div class="row">
                                <input id="radio-duplicates-no" class="toggleView" name="duplicates" type="radio" value="no">
                                Do not allow duplicates
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="matchSection">
                <h3>Select Columns</h3>
                <div class="fieldWrapper">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-1">
                            <h4>EMPLOYEES</h4>
                            <div>
                                <a class="btn btn-info btn-dummy">Highest Degree</a>
                            </div>
                            <div>
                                <a class="btn btn-info btn-dummy">Lat/Long</a>
                            </div>
                            <div>
                                <a class="btn btn-info btn-dummy">Functional Area</a>
                            </div>
                            <div>
                                <a class="btn btn-info btn-dummy">Total Experience</a>
                            </div>
                            <div>
                                <a class="btn btn-info btn-dummy">People Manager</a>
                            </div>
                            <div>
                                <a class="btn btn-info btn-dummy">ZHR BAND 1</a>
                            </div>
                            <div>
                                <a class="btn btn-default">Add Column</a>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <h4>ROLES</h4>
                            <div>
                                <a class="btn btn-info btn-dummy">Preferred Education Level</a>
                            </div>
                            <div>
                                <a class="btn btn-info btn-dummy">Lat/Long</a>
                            </div>
                            <div>
                                <a class="btn btn-info btn-dummy">Nielsen Organization Level 1</a>
                            </div>
                            <div>
                                <a class="btn btn-info btn-dummy">Years experience - Qualifications</a>
                            </div>
                            <div>
                                <a class="btn btn-info btn-dummy">Management experience - Qualifications</a>
                            </div>
                            <div>
                                <a class="btn btn-info btn-dummy">Salary Band</a>
                            </div>
                            <div>
                                <a class="btn btn-default">Add Column</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="matchSection">
                <h3>Define Matching Rules</h3>
                <div class="prefs">
                    <table class="matchTable">
                        <thead>
                            <tr>
                                <th class="colVariable1">EMPLOYEES Column</th>
                                <th class="colPreference">Matching Rule</th>
                                <th class="colVariable2">ROLES Column</th>
                                <th class="colWeight">Weight (1-5)</th>
                                <th class="colAutoWeight">(%)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <h5>Highest Degree</h5>
                                </td>
                                <td>
                                    <div style="padding-right: 80px;">
                                        <select class="form-control" name="rule-education">
                                            <option value="1">Greater Than</option>
                                            <option value="2" selected="selected">Greater Than or Equal To</option>
                                            <option value="3">Equal To</option>
                                            <option value="4">Less Than or Equal To</option>
                                            <option value="5">Less Than</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <h4>Preferred Education Level</h4>
                                </td>
                                <td>
                                    <div class='match-weight-form'>
                                        <input type='text' name='gender-weight0' size='6' class='match-weight-input' placeholder='1-5' value='5'>
                                    </div>
                                </td>
                                <td>
                                    <div class='match-autoweight-form'>
                                        23%
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>Lat/Long</h4>
                                </td>
                                <td>
                                    <div class='match-preference-form'>
                                        <div class='match-preference-input'>
                                            <input type='radio' name='match-latlong' value='1'><label for='gender-prefs0'>Closeness</label>
                                        </div>
                                        <div class='match-preference-input'>
                                            <input type='radio' name='match-latlong' value='2'><label for='gender-prefs0'>Any</label>
                                        </div>
                                        <div class='match-preference-input'>
                                            <input type='radio' name='match-latlong' value='3'><label for='gender-prefs0'>Distance</label>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h4>Lat/Long</h4>
                                </td>
                                <td>
                                    <div class='match-weight-form'>
                                        <input type='text' name='gender-weight0' size='6' class='match-weight-input' placeholder='1-5' value='4'>
                                    </div>
                                </td>
                                <td>
                                    <div class='match-autoweight-form'>
                                        18%
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>Functional Area</h4>
                                </td>
                                <td>
                                    <div class='match-preference-form'>
                                        <div class='match-preference-input'>
                                            <input type='radio' name='match-func' value='1'><label for='gender-prefs0'>Similarity</label>
                                        </div>
                                        <div class='match-preference-input'>
                                            <input type='radio' name='match-func' value='2'><label for='gender-prefs0'>Any</label>
                                        </div>
                                        <div class='match-preference-input'>
                                            <input type='radio' name='match-func' value='3'><label for='gender-prefs0'>Difference</label>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h4>Nielsen Organization Level 1</h4>
                                </td>
                                <td>
                                    <div class='match-weight-form'>
                                        <input type='text' name='gender-weight0' size='6' class='match-weight-input' placeholder='1-5' value='2'>
                                    </div>
                                </td>
                                <td>
                                    <div class='match-autoweight-form'>
                                        <p style="color: B0B0B0;">9%</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>Total Experience</h4>
                                </td>
                                <td>
                                    <div style="padding-right: 80px;">
                                        <select class="form-control" name="rule-education">
                                            <option value="1">Greater Than</option>
                                            <option value="2" selected="selected">Greater Than or Equal To</option>
                                            <option value="3">Equal To</option>
                                            <option value="4">Less Than or Equal To</option>
                                            <option value="5">Less Than</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <h4>Years experience - Qualifications</h4>
                                </td>
                                <td>
                                    <div class='match-weight-form'>
                                        <input type='text' name='gender-weight0' size='6' class='match-weight-input' placeholder='1-5' value='3'>
                                    </div>
                                </td>
                                <td>
                                    <div class='match-autoweight-form'>
                                        14%
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>People Manager</h4>
                                </td>
                                <td>
                                    <div class='match-preference-form'>
                                        <div class='match-preference-input'>
                                            <input type='radio' name='match-mgr' value='1'><label for='gender-prefs0'>Similarity</label>
                                        </div>
                                        <div class='match-preference-input'>
                                            <input type='radio' name='match-mgr' value='2'><label for='gender-prefs0'>Any</label>
                                        </div>
                                        <div class='match-preference-input'>
                                            <input type='radio' name='match-mgr' value='3'><label for='gender-prefs0'>Difference</label>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h4>Management experience - Qualifications</h4>
                                </td>
                                <td>
                                    <div class='match-weight-form'>
                                        <input type='text' name='gender-weight0' size='6' class='match-weight-input' placeholder='1-5' value='3'>
                                    </div>
                                </td>
                                <td>
                                    <div class='match-autoweight-form'>
                                        14%
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>ZHR BAND 1</h4>
                                </td>
                                <td>
                                    <div style="padding-right: 80px;">
                                        <select class="form-control" name="rule-education">
                                            <option value="1">Greater Than</option>
                                            <option value="2" selected="selected">Greater Than or Equal To</option>
                                            <option value="3">Equal To</option>
                                            <option value="4">Less Than or Equal To</option>
                                            <option value="5">Less Than</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <h4>Salary Band</h4>
                                </td>
                                <td>
                                    <div class='match-weight-form'>
                                        <input type='text' name='gender-weight0' size='6' class='match-weight-input' placeholder='1-5' value='5'>
                                    </div>
                                </td>
                                <td>
                                    <div class='match-autoweight-form'>
                                        23%
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>HR Rating</h4>
                                </td>
                                <td>
                                    <div style="padding-right: 80px;">
                                        <select class="form-control" name="rule-education">
                                            <option value="1">Greater Than</option>
                                            <option value="2" selected="selected">Greater Than or Equal To</option>
                                            <option value="3">Equal To</option>
                                            <option value="4">Less Than or Equal To</option>
                                            <option value="5">Less Than</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <h4><input type='text' name='xxx' size='5' class='match-weight-input' placeholder='1-5' value='3.0'></h4>
                                </td>
                                <td>
                                    <div class='match-weight-form'>
                                        <input type='text' name='gender-weight0' size='6' class='match-weight-input' placeholder='1-5' value='5'>
                                    </div>
                                </td>
                                <td>
                                    <div class='match-autoweight-form'>
                                        23%
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4></h4>
                                </td>
                                <td>
                                    <div class='match-preference-form'>
                                        <div class='match-preference-input'>
                                            <input type='radio' name='match-time' value='1'><label for='gender-prefs0'>Maximize</label>
                                        </div>
                                        <div class='match-preference-input'>
                                            <input type='radio' name='match-time' value='3'><label for='gender-prefs0'>Minimize</label>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h4>Time Unfilled</h4>
                                </td>
                                <td>
                                    <div class='match-weight-form'>
                                        <input type='text' name='gender-weight0' size='6' class='match-weight-input' placeholder='1-5' value='5'>
                                    </div>
                                </td>
                                <td>
                                    <div class='match-autoweight-form'>
                                        23%
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>NielsenStartDate</h4>
                                </td>
                                <td>
                                    <div style="padding-right: 80px;">
                                        <select class="form-control" name="rule-education">
                                            <option value="1" selected="selected">Older Than</option>
                                            <option value="2">Greater Than or Equal To</option>
                                            <option value="3">Equal To</option>
                                            <option value="4">Less Than or Equal To</option>
                                            <option value="5">Less Than</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <h4><input type='text' name='xxxdate' size='5' class='match-weight-input' placeholder='1-12' value='12'> months</h4>
                                </td>
                                <td>
                                    <div class='match-weight-form'>
                                        <input type='text' name='gender-weight0' size='6' class='match-weight-input' placeholder='1-5' value='5'>
                                    </div>
                                </td>
                                <td>
                                    <div class='match-autoweight-form'>
                                        23%
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <input type="button" name="save-custom-search" value="Save Search" class="btn btn-primary" />
            <input type="submit" name="submit" value="Run Matches" class="btn btn-success"/>
        </div>
    </form>

{% endblock %}
