{% extends 'sidebar_page.html' %}
{% load staticfiles %}

{% load bootstrap3 %}
{% load widget_tweaks %}

{% block title %}Create Match{% endblock %}
{% block header_block %}
    <div class="col-sm-8">
        <h2 class="headerLine">Edit: Internal Mobility</h2>
    </div>

    <div class="col-sm-4">
        <div class="dropdown">
            <br />
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                View Sample Matches
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="/match/create_employeerole">Employee/Role Match</a></li>
                <li class="divider"></li>
                <li><a href="/match/create">Create New Match</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content_block %}


    <div id="divLoading" style="background-image: url('{% static 'img/loading.gif' %}')"></div>

    <form id="user_form" method="post" action="/match/create_match/" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        <div class="well">
            <h3>Select Task</h3>
            <div class="row">
                <div class="col-md-4">
                    <a class="btn btn-default btn-lg">
                        <b>Cluster</b><br />Group people within 1 data set
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-info btn-lg" style="background-color:#ccddee; color:black;">
                        <b>Assign</b><br />Match people across 2 data sets
                    </a>
                </div>
            </div>
        </div>

        <div class="well">
            <div class="row matchSection">
                <div class="col-md-3">
                    <h3>Select Data</h3>
                    <select class="form-control" name="data_tables_single">
                        <option value="">1st Data Set:</option>
                        <option value="12" selected="selected">Employees</option>
                        <option value="11">Job Roles</option>
                    </select>
                    <br />
                    <select class="form-control" name="data_tables_single">
                        <option value="">2nd Data Set:</option>
                        <option value="12">Employees</option>
                        <option value="11" selected="selected">Job Roles</option>
                    </select>
                </div>
                <div class="col-md-7 col-md-offset-1">
                    <h3>Assignment Options</h3>
                    <div class="row" style="padding-top: 15px;">
                        <div class="col-sm-7">
                            <div class="row matchSectionSmall" style="font-size:15px;">
                                <input id="radio-capacity-onetomany" class="toggleView" name="capacity" type="radio" value="onetomany" checked>
                                Match each <b>Role</b> with top <input type='text' name='onetomany_n' size='3' class='match-weight-input' placeholder='1-5' value='5'> <b>Employees</b>
                            </div>
                            <div class="row" style="font-size:15px;">
                                <input id="radio-capacity-manytoone" class="toggleView" name="capacity" type="radio" value="manytoone">
                                Match each <b>Employee</b> with top <input type='text' name='manytoone_n' size='3' class='match-weight-input' placeholder='1-5' value='5'> <b>Roles</b>
                            </div>
                        </div>
                        <div class="col-sm-4 col-sm-offset-1">
                            <div class="row matchSectionSmall" style="font-size:15px;">
                                <input checked id="radio-duplicates-yes" class="toggleView" name="duplicates" type="radio" value="yes">
                                Allow duplicates
                            </div>
                            <div class="row" style="font-size:15px;">
                                <input id="radio-duplicates-no" class="toggleView" name="duplicates" type="radio" value="no">
                                Do not allow duplicates
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="matchSection">
                <h3>Select Attributes for Matching</h3>
                <div class="fieldWrapper">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-1">
                            <h4>EMPLOYEE fields</h4>
                            <div>
                                <a class="btn btn-info btn-dummy" style="background-color:#cceedd; color:black;">Skills</a>
                            </div>
                            <div>
                                <a class="btn btn-info btn-dummy" style="background-color:#ccddee; color:black;">Degree</a>
                            </div>
                            <div>
                                <a class="btn btn-info btn-dummy" style="background-color:#cceedd; color:black;">Location</a>
                            </div>
                            <div>
                                <a class="btn btn-info btn-dummy" style="background-color:#ccddee; color:black;">Department</a>
                            </div>
                            <div>
                                <a class="btn btn-info btn-dummy" style="background-color:#cceedd; color:black;">Years Experience</a>
                            </div>
                            <div>
                                <a class="btn btn-info btn-dummy" style="background-color:#ccddee; color:black;">Management Experience</a>
                            </div>
                            <div>
                                <a class="btn btn-info btn-dummy" style="background-color:#cceedd; color:black;">Salary</a>
                            </div>
                            <div>
                                <a class="btn btn-default">Add Field</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-1">
                            <h4>JOB ROLE fields</h4>
                            <div>
                                <a class="btn btn-info btn-dummy" style="background-color:#cceedd; color:black;">Skills Required</a>
                            </div>
                            <div>
                                <a class="btn btn-info btn-dummy" style="background-color:#ccddee; color:black;">Required Education</a>
                            </div>
                            <div>
                                <a class="btn btn-info btn-dummy" style="background-color:#cceedd; color:black;">Location</a>
                            </div>
                            <div>
                                <a class="btn btn-info btn-dummy" style="background-color:#ccddee; color:black;">Department</a>
                            </div>
                            <div>
                                <a class="btn btn-info btn-dummy" style="background-color:#cceedd; color:black;">Years Required</a>
                            </div>
                            <div>
                                <a class="btn btn-info btn-dummy" style="background-color:#ccddee; color:black;">Management Required</a>
                            </div>
                            <div>
                                <a class="btn btn-info btn-dummy" style="background-color:#cceedd; color:black;">Salary Range</a>
                            </div>
                            <div>
                                <a class="btn btn-default">Add Field</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="matchSection">
                <h3>Define Matching Rules</h3>
                <div class="prefs">
                    <table class="matchTable" style="border-collapse: collapse;">
                        <thead>
                            <tr style="border-bottom: 2px solid #cccccc">
                                <th class="colVariable1">EMPLOYEE</th>
                                <th class="colPreference">Matching Rule</th>
                                <th class="colVariable2">ROLE</th>
                                <th class="colWeight">Importance (1-5)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="border-bottom: 2px solid #cccccc">
                                <td style="margin-bottom: 1em;">
                                    <h5>Skills</h5>
                                </td>
                                <td>
                                    <div style="padding-right: 60px;">
                                        <select class="form-control" name="rule-education">
                                            <option value="1">Greater Than</option>
                                            <option value="2" selected="selected">Includes All</option>
                                            <option value="3">Equal To</option>
                                            <option value="4">Less Than or Equal To</option>
                                            <option value="5">Less Than</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <h4>Skills Required</h4>
                                </td>
                                <td>
                                    <div class='match-weight-form'>
                                        <input type='text' name='gender-weight0' size='6' class='match-weight-input' placeholder='1-5' value='5'>
                                    </div>
                                </td>
                            </tr>
                            <tr style="border-bottom: 2px solid #cccccc">
                                <td style="margin-bottom: 1em;">
                                    <h5>Degree</h5>
                                </td>
                                <td>
                                    <div style="padding-right: 60px;">
                                        <select class="form-control" name="rule-education">
                                            <option value="1">Greater Than</option>
                                            <option value="2" selected="selected">Greater Than or Equal To</option>
                                            <option value="3">Equal To</option>
                                            <option value="4">Less Than or Equal To</option>
                                            <option value="5">Less Than</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <h4>Required Education</h4>
                                </td>
                                <td>
                                    <div class='match-weight-form'>
                                        <input type='text' name='gender-weight0' size='6' class='match-weight-input' placeholder='1-5' value='5'>
                                    </div>
                                </td>
                            </tr>
                            <tr style="border-bottom: 2px solid #cccccc">
                                <td>
                                    <h4>Location</h4>
                                </td>
                                <td>
                                    <div class='match-preference-form'>
                                        <div class='row'>
                                            <div class='col-md-6' style="padding-top: 10px;">
                                                <div class='match-preference-input'>
                                                    <input type='radio' name='match-latlong' value='1' checked><label for='gender-prefs0'>&nbsp; Closer than</label>
                                                </div>
                                                <div class='match-preference-input'>
                                                    <input type='radio' name='match-latlong' value='3'><label for='gender-prefs0'>&nbsp; Farther than</label>
                                                </div>
                                            </div>
                                            <div class='col-md-6'>
                                                <input class="form-control" type='text' name='xxx1' size='3' class='match-weight-input' placeholder='1-5' value='50' style="width: 80px;">
                                                <select class="form-control" name="xxx2" style="width: 80px;">
                                                    <option value="2" selected="selected">miles</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h4>Location</h4>
                                </td>
                                <td>
                                    <div class='match-weight-form'>
                                        <input type='text' name='gender-weight0' size='6' class='match-weight-input' placeholder='1-5' value='4'>
                                    </div>
                                </td>
                            </tr>
                            <tr style="border-bottom: 2px solid #cccccc">
                                <td>
                                    <h4>Department</h4>
                                </td>
                                <td>
                                    <div class='match-preference-form'>
                                        <div class='match-preference-input'>
                                            <input type='radio' name='match-func' value='1'><label for='gender-prefs0'>&nbsp; Similar</label>
                                        </div>
                                        <div class='match-preference-input'>
                                            <input type='radio' name='match-func' value='3' checked><label for='gender-prefs0'>&nbsp; Different</label>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h4>Department</h4>
                                </td>
                                <td>
                                    <div class='match-weight-form'>
                                        <input type='text' name='gender-weight0' size='6' class='match-weight-input' placeholder='1-5' value='4'>
                                    </div>
                                </td>
                            </tr>
                            <tr style="border-bottom: 2px solid #cccccc">
                                <td>
                                    <h4>Years Experience</h4>
                                </td>
                                <td>
                                    <div style="padding-right: 60px;">
                                        <select class="form-control" name="rule-education">
                                            <option value="1">Greater Than</option>
                                            <option value="2" selected="selected">Greater Than or Equal To</option>
                                            <option value="3">Equal To</option>
                                            <option value="4">Less Than or Equal To</option>
                                            <option value="5">Less Than</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <h4>Years Required</h4>
                                </td>
                                <td>
                                    <div class='match-weight-form'>
                                        <input type='text' name='gender-weight0' size='6' class='match-weight-input' placeholder='1-5' value='3'>
                                    </div>
                                </td>
                            </tr>
                            <tr style="border-bottom: 2px solid #cccccc">
                                <td>
                                    <h4>Management Experience</h4>
                                </td>
                                <td>
                                    <div class='match-preference-form'>
                                        <div class='match-preference-input'>
                                            <input type='radio' name='match-mgr' value='1' checked><label for='gender-prefs0'>&nbsp; Similar</label>
                                        </div>
                                        <div class='match-preference-input'>
                                            <input type='radio' name='match-mgr' value='2'><label for='gender-prefs0'>&nbsp; Different</label>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h4>Management Required</h4>
                                </td>
                                <td>
                                    <div class='match-weight-form'>
                                        <input type='text' name='gender-weight0' size='6' class='match-weight-input' placeholder='1-5' value='2'>
                                    </div>
                                </td>
                            </tr>
                            <tr style="border-bottom: 2px solid #cccccc">
                                <td>
                                    <h4>Salary</h4>
                                </td>
                                <td>
                                    <div style="padding-right: 60px;">
                                        <select class="form-control" name="rule-education">
                                            <option value="1">Greater Than</option>
                                            <option value="2">Greater Than or Equal To</option>
                                            <option value="3">Equal To</option>
                                            <option value="4" selected="selected">Less Than or Equal To</option>
                                            <option value="5">Less Than</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <h4>Salary Range</h4>
                                </td>
                                <td>
                                    <div class='match-weight-form'>
                                        <input type='text' name='gender-weight0' size='6' class='match-weight-input' placeholder='1-5' value='1'>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <input type="button" name="save-custom-search" value="Save Match" class="btn btn-primary" />
            <a id="runMatch" href="#" style='margin-left: 10px;' class="btn btn-success" type="button">Run Match</a>
        </div>
    </form>

<script type="text/javascript">

    $(document).ready(function(){
        $("#runMatch").click(function(){

            $("div#divLoading").addClass('show');
            setTimeout(function () {
                window.location.replace("http://127.0.0.1:8000/match/res");
            }, 3000);

        });
    });

</script>

{% endblock %}
