{% extends 'sidebar_page.html' %}

{% load bootstrap3 %}
{% load widget_tweaks %}

{% block title %}Create Match{% endblock %}
{% block header_block %}
    <div class="col-sm-6">
        <h2 class="headerLine">Feedback</h2>
    </div>

    <div class="col-sm-6 header-buttons">
        <a href="/match/view/{{ match.id }}" class="header-button btn btn-primary" id="analytics-button">
            &nbsp; &nbsp; Results &nbsp; &nbsp;
        </a>
        <a href="/match/analyze/{{ match.id }}" class="header-button btn btn-info" id="feedback-button">
            &nbsp; &nbsp; Analytics &nbsp; &nbsp;
        </a>
    </div>{% endblock %}

{% block content_block %}

    <div class="well">
        <div class="row">
            <div class="col-md-4">
                <h3>Select Group</h3>
                <select class="form-control" id="feedback_group">
                    <option value="" selected="selected">-- click to select --</option>
                    {% for group_number in group_numbers %}
                        <option value="{{ group_number }}">Group #{{ group_number }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div>
        {{ feedback_s | safe }}
    </div>

{% endblock %}
