{% extends 'sidebar_page.html' %}
{% load staticfiles %}

{% load bootstrap3 %}
{% load widget_tweaks %}

{% block title %}Create Match{% endblock %}
{% block header_block %}
    <div class="col-sm-6">
        <img height="130" width="140" style="float:left; margin-top: 10px; margin-left: 20px; margin-right: 20px;" src="{% static "img/feedback_employeerole_p4.jpg" %}" />
        <h3>Welcome Karen! <br /> <br />VP, Human Resources</h3>
    </div>
{% endblock %}

{% block content_block %}

<div class="row">
    <div class="col-md-5">
        <div class="well">
            <h4>Select Internal Role:</h4>
            <select class="form-control" name="jobrole">
                <option value="" selected="selected">Marketing Associate</option>
            </select>

            <div style="margin-top: 30px;">
                <img height="100" width="100" style="float:left; margin-left: 20px; margin-right: 20px;" src="{% static "img/feedback_employeerole_job1.png" %}" />
                <b>Role:</b>
                <p>Marketing Associate</p>
                <b>Assigned Recruiter:</b>
                <p>Karen</p>

                <br /><br />
                <b>Role Description:</b>
                <p>
                    Our Marketing Services group has an open, full-time position in Chicago for a Manager.
                </p>
                <b>Responsibilities:</b>
                <ul>
                    <li>Understand client needs for quantitative analysis of marketing effectiveness.</li>
                    <li>Develop and test model specifications to meet client needs.</li>
                    <li>Write SAS code to read input data and present results in business meaningful formats.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-7">
        <div class="well">
            <h4>Employee #1: Henry Williams</h4>

            <div style="margin-top: 30px;">
                <img height="400" width="320" style="float:left; margin-left: 20px; margin-right: 20px;" src="{% static "img/feedback_employeerole_p3.jpg" %}" />
                <b>Candidate Name:</b>
                <p>Henry Williams</p>
                <b>Employee ID:</b>
                <p>194753933</p>

                <b>Candidate Summary:</b>
                <p>
                    Henry Williams was identified as a candidate for Sr. Manager, Marketing Services.
                </p>
                <p>
                    Henry was successfully matched on 17 out of 21 criteria.
                </p>
                <p>
                    Henry has 9 years of work experience, including 3 years at this company. He currently works in the Strategy function in the Chicago office. Cost center: Strategic Planning. Matt's most recent HR rating was 4.
                </p>
            </div>

            <table class="feedbackTable">
                <thead>
                    <tr>
                        <th class="c1">
                            <a href="#" class="btn btn-primary">< previous</a>
                            &nbsp; &nbsp;
                            <a href="#" class="btn btn-primary">next ></a>
                        </th>
                    </tr>
                </thead>
            </table>

        </div>
    </div>
</div>

{% endblock %}
