{% extends 'sidebar_page.html' %}

{% load bootstrap3 %}
{% load widget_tweaks %}

{% block title %}Create Match{% endblock %}
{% block header_block %}
    <div class="col-sm-4">
        <h2 class="headerLine">HR Feedback</h2>
    </div>
{% endblock %}

{% block content_block %}

    <div class="well">
        <table class="feedbackTable">
            <thead>
                <tr>
                    <th class="c1">Role</th>
                    <th class="c2">&nbsp;</th>
                    <th class="c3">Employee</th>
                    <th class="c4">&nbsp;</th>
                    <th class="c5">Feedback</th>
                </tr>
            </thead>
            <tbody>
<tr><td>MATCH VARIABLES</td><td></td><td>MATCH VARIABLES</td><td></td><td></td></tr>
<tr><td>Title</td><td>VP, Commercial Client Sales Solutions (Digital Platform Group)</td><td>MaskedID</td><td>1439618</td><td></td></tr>
<tr><td>Preferred Educational Level</td><td>BA / BS</td><td>Highest degree attained</td><td>Bachelor's Degree</td><td><input name='v4' type='radio' value='Good fit '>Good fit <input name='v4' type='radio' value=' Educational level too high '> Educational level too high <input name='v4' type='radio' value=' Educational level too low'> Educational level too low</td></tr>
<tr><td>Latitude/Longitude</td><td>40.7, 74.1</td><td>Latitude/Longitude</td><td>40.7, 74.1</td><td><input name='v5' type='radio' value='Good fit '>Good fit <input name='v5' type='radio' value=' Location too far '> Location too far <input name='v5' type='radio' value=' Location too close '> Location too close <input name='v5' type='radio' value=' Bad fit (other)'> Bad fit (other)</td></tr>
<tr><td>Functional Area Name</td><td>Watch+</td><td>Functional Area Name</td><td>Watch+</td><td><input name='v6' type='radio' value='Good fit '>Good fit <input name='v6' type='radio' value=' Bad fit'> Bad fit</td></tr>
<tr><td>Years Experience Required</td><td>7 - 12 years</td><td>Total Years Work Experience</td><td>8.41281998631075</td><td><input name='v7' type='radio' value='Good fit '>Good fit <input name='v7' type='radio' value=' Too much experience '> Too much experience <input name='v7' type='radio' value=' Too little experience'> Too little experience</td></tr>
<tr><td>Management Experience Required</td><td>Yes</td><td>Management Experience</td><td>Yes</td><td><input name='v8' type='radio' value='Good fit '>Good fit <input name='v8' type='radio' value=' Bad fit'> Bad fit</td></tr>
<tr><td>HR Band</td><td>4</td><td>HR Band</td><td>5</td><td><input name='v9' type='radio' value='Good fit '>Good fit <input name='v9' type='radio' value=' Band too high '> Band too high <input name='v9' type='radio' value=' Band too low'> Band too low</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>OTHER INFORMATION</td><td></td><td>LOCATION</td><td></td><td></td></tr>
<tr><td>Region</td><td>North America</td><td>Office location</td><td>US-Offsite</td><td><input name='v12' type='radio' value='Good fit '>Good fit <input name='v12' type='radio' value=' Bad fit'> Bad fit</td></tr>
<tr><td>Country</td><td>United States</td><td>Top Talent</td><td>Yes</td><td><input name='v13' type='radio' value='Good fit '>Good fit <input name='v13' type='radio' value=' Bad fit'> Bad fit</td></tr>
<tr><td>State/Province</td><td>New York</td><td>HR Rating</td><td>4</td><td><input name='v14' type='radio' value='Good fit '>Good fit <input name='v14' type='radio' value=' Rating too high '> Rating too high <input name='v14' type='radio' value=' Rating too low'> Rating too low</td></tr>
<tr><td>City</td><td>New York</td><td>Cost Center Name</td><td>GBS PL - NA-US (Strategic Clients)</td><td><input name='v15' type='radio' value='Good fit '>Good fit <input name='v15' type='radio' value=' Bad fit'> Bad fit</td></tr>
<tr><td>Primary Office Location</td><td>New York</td><td></td><td></td><td></td></tr>
<tr><td>Req. Posting Date</td><td>January 14, 2016</td><td>PROFESSIONAL EXPERIENCE</td><td></td><td></td></tr>
<tr><td>Req. Identifier</td><td>1522603</td><td>Employer1</td><td>Alexian Bonaventure House</td><td><input name='v18' type='radio' value='Good fit '>Good fit <input name='v18' type='radio' value=' Bad fit'> Bad fit</td></tr>
<tr><td>Role description</td><td></td><td>Years at Employer 1</td><td>3.16</td><td><input name='v19' type='radio' value='Good fit '>Good fit <input name='v19' type='radio' value=' Tenure too long '> Tenure too long <input name='v19' type='radio' value=' Tenure too short'> Tenure too short</td></tr>
<tr><td>Role qualifications</td><td></td><td>Employer2</td><td>Chicago Transit Authority</td><td><input name='v20' type='radio' value='Good fit '>Good fit <input name='v20' type='radio' value=' Bad fit'> Bad fit</td></tr>
<tr><td>Req. Job Schedule</td><td>Full-time</td><td>Years at Employer2</td><td>2.17</td><td><input name='v21' type='radio' value='Good fit '>Good fit <input name='v21' type='radio' value=' Tenure too long '> Tenure too long <input name='v21' type='radio' value=' Tenure too short'> Tenure too short</td></tr>
<tr><td>Req. Job Shift</td><td>Day</td><td>Employer3</td><td>Warped Sportz</td><td><input name='v22' type='radio' value='Good fit '>Good fit <input name='v22' type='radio' value=' Bad fit'> Bad fit</td></tr>
<tr><td>Req. Job Type</td><td>Regular</td><td>Years at Employer3</td><td>3.00068446269678</td><td><input name='v23' type='radio' value='Good fit '>Good fit <input name='v23' type='radio' value=' Tenure too long '> Tenure too long <input name='v23' type='radio' value=' Tenure too short'> Tenure too short</td></tr>
<tr><td>Required Travel</td><td></td><td>Employer4</td><td>Organizational Strategies</td><td><input name='v24' type='radio' value='Good fit '>Good fit <input name='v24' type='radio' value=' Bad fit'> Bad fit</td></tr>
<tr><td>Weekly Working Hours</td><td>40 hrs M-F</td><td>Years at Employer4</td><td>0.082135523613963</td><td><input name='v25' type='radio' value='Good fit '>Good fit <input name='v25' type='radio' value=' Tenure too long '> Tenure too long <input name='v25' type='radio' value=' Tenure too short'> Tenure too short</td></tr>
<tr><td>Relocation Approved</td><td>No</td><td>Total number of jobs</td><td>4</td><td></td></tr>
<tr><td></td><td></td><td>Average tenure</td><td>2.10320499657769</td><td><input name='v27' type='radio' value='Good fit '>Good fit <input name='v27' type='radio' value=' Average tenure too long '> Average tenure too long <input name='v27' type='radio' value=' Average tenure too short '> Average tenure too short </td></tr>
<tr><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td>EDUCATIONAL EXPERIENCE</td><td></td><td></td></tr>
<tr><td></td><td></td><td>Educational Institution 1</td><td>Northwestern University</td><td><input name='v31' type='radio' value='Good fit '>Good fit <input name='v31' type='radio' value=' Bad fit'> Bad fit</td></tr>
<tr><td></td><td></td><td>Area of Study </td><td>Learning and Organizational Change</td><td><input name='v32' type='radio' value='Good fit '>Good fit <input name='v32' type='radio' value=' Bad fit'> Bad fit</td></tr>
<tr><td></td><td></td><td>Degree</td><td>Bachelor's Degree</td><td><input name='v33' type='radio' value='Good fit '>Good fit <input name='v33' type='radio' value=' Educational level too high '> Educational level too high <input name='v33' type='radio' value=' Educational level too low'> Educational level too low</td></tr>
<tr><td></td><td></td><td>Educational Institution 2</td><td>Moraine Valley Community College</td><td><input name='v34' type='radio' value='Good fit '>Good fit <input name='v34' type='radio' value=' Bad fit'> Bad fit</td></tr>
            </tbody>
        </table>
    </div>

{% endblock %}
