{% extends 'sidebar_page.html' %}
{% load staticfiles %}

{% load bootstrap3 %}
{% load widget_tweaks %}

{% block title %}Create Match{% endblock %}
{% block header_block %}
    <div class="col-sm-8">
        <h3 class="headerLine">Match Results: Internal Mobility</h3>
    </div>


    <div class="col-sm-4 header-buttons">
        <a href="#" class="header-button btn btn-info" id="analytics-button">
            &nbsp; Export &nbsp;
        </a>
        <a href="#" class="header-button btn btn-success" id="feedback-button">
            &nbsp; Distribute &nbsp;
        </a>
    </div>
{% endblock %}

{% block content_block %}

<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h4>Select Job Role:</h4>
            <select class="form-control" name="jobrole">
                <option value="" selected="selected">#1: &nbsp; Senior Manager, Marketing Services</option>
            </select>

            <div style="margin-top: 30px;">
                <img height="100" width="100" style="float:left; margin-left: 20px; margin-right: 20px;" src="{% static "img/feedback_employeerole_job1.png" %}" />
                <b>Role:</b>
                <p>Senior Manager, Marketing Services</p>
                <b>Assigned Recruiter:</b>
                <p>Angela Rosander</p>

                <br /><br />
                <b>Role Description:</b>
                <p>
                    Our Marketing Services group has an open, full-time position in Chicago for a Manager.
                </p>
                <p>
                    As a Manager, you will develop marketing mix and other statistical models, and consult to Fortune 500 senior and mid-level management on their use and interpretation to quantify what drives sales and use the results to increase market share, revenue, and profit.
                </p>
                <b>Responsibilities:</b>
                <ul>
                    <li>Understand client needs for quantitative analysis of marketing effectiveness.</li>
                    <li>Develop and test model specifications to meet client needs.</li>
                    <li>Write SAS code to read input data and present results in business meaningful formats.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="well">
            <h4>Select Employee</h4>

            <div class="row">
                <div class="col-md-5">
            <select class="form-control" name="jobrole" style="width: 200px;">
                <option value="" selected="selected" style="width: 80px;">Match #1: &nbsp; Matt Allen</option>
            </select>
                </div>
                <div class="col-md-6 col-md-offset-1">
            <a href="#" class="btn btn-primary">< previous</a> &nbsp;
            <a href="#" class="btn btn-primary">next ></a>
                </div>
            </div>

            <div style="margin-top: 30px;">
                <img height="100" width="100" style="float:left; margin-left: 20px; margin-right: 20px;" src="{% static "img/feedback_employeerole_p2.png" %}" />
                <b>Candidate Name:</b>
                <p>Matt Allen</p>
                <b>Employee ID:</b>
                <p>194753933</p>

                <br /><br />
                <b>Candidate Summary:</b>
                <p>
                    Matt Allen was identified as a candidate for Senior Manager, Marketing Services.
                </p>
                <p>
                    Matt has 9 years of work experience, including 3 years at YC. He currently works in the Corporate Strategy function in the Chicago office. Matt is competent at Programming and Analytics. His most recent HR rating was 4.2.
                </p>
                <p>
                    Before YC, Matt worked at McKinsey & Co. for 6 years and got a degree in Operations Research at Cornell University.
                </p>
                <p>
                    Matt was successfully matched on 5 out of 7 criteria, with Twine Score of 93%.
                </p>
            </div>


            <div class="row" style="margin-top: 30px; padding-left: 20px;">
                <div style="font-size: 18px; margin-bottom: 10px; text-decoration: underline;">
                    <b>Skills</b>
                </div>
                <table style="width:100%">
                    <tr>
                        <td>
                            <b>&nbsp; Programming, <br />&nbsp; Analytics</b>
                        </td>
                        <td style="text-align: right;">
                            <a class="btn btn-default btn-sm">Overqualified</a>
                            <a class="btn btn-default btn-sm">Good Fit</a>
                            <a class="btn btn-default btn-sm">Underqualified</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="margin-top: 30px; padding-left: 20px;">
                <div style="font-size: 18px; margin-bottom: 10px; text-decoration: underline;">
                    <b>Degree</b>
                </div>
                <table style="width:100%">
                    <tr>
                        <td>
                            <b>&nbsp; Operations Research<br />&nbsp; Cornell University</b>
                        </td>
                        <td style="text-align: right;">
                            <a class="btn btn-default btn-sm">Overqualified</a>
                            <a class="btn btn-default btn-sm">Good Fit</a>
                            <a class="btn btn-default btn-sm">Underqualified</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="margin-top: 30px; padding-left: 20px;">
                <div style="font-size: 18px; margin-bottom: 10px; text-decoration: underline;">
                    <b>Location</b>
                </div>
                <table style="width:100%">
                    <tr>
                        <td>
                            <b>&nbsp; Chicago<br />&nbsp; Illinois</b>
                        </td>
                        <td style="text-align: right;">
                            <a class="btn btn-default btn-sm">Poor Fit</a>
                            <a class="btn btn-default btn-sm">Good Fit</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="margin-top: 30px; padding-left: 20px;">
                <div style="font-size: 18px; margin-bottom: 10px; text-decoration: underline;">
                    <b>Department</b>
                </div>
                <table style="width:100%">
                    <tr>
                        <td>
                            <b>&nbsp; Corporate Strategy</b>
                        </td>
                        <td style="text-align: right;">
                            <a class="btn btn-default btn-sm">Poor Fit</a>
                            <a class="btn btn-default btn-sm">Good Fit</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="margin-top: 30px; padding-left: 20px;">
                <div style="font-size: 18px; margin-bottom: 10px; text-decoration: underline;">
                    <b>Years Experience</b>
                </div>
                <table style="width:100%">
                    <tr>
                        <td>
                            <b>&nbsp; 9 years</b>
                        </td>
                        <td style="text-align: right;">
                            <a class="btn btn-default btn-sm">Overqualified</a>
                            <a class="btn btn-default btn-sm">Good Fit</a>
                            <a class="btn btn-default btn-sm">Underqualified</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="margin-top: 30px; padding-left: 20px;">
                <div style="font-size: 18px; margin-bottom: 10px; text-decoration: underline;">
                    <b>Management Experience</b>
                </div>
                <table style="width:100%">
                    <tr>
                        <td>
                            <b>&nbsp; Yes</b>
                        </td>
                        <td style="text-align: right;">
                            <a class="btn btn-default btn-sm">Poor Fit</a>
                            <a class="btn btn-default btn-sm">Good Fit</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
