{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}My Matches{% endblock %}

{% block body_block %}

    <h2>My Matches</h2>

    {% if matches.count > 0 %}
        <ul>
            {% for m in matches %}
                <li>
                    <a class="nav-link" href="/match/view/{{ m.id }}">
                        {{ m.name }}
                    </a> -
                    <a class="nav-link" href="/match/delete_match/{{ m.id }}">
                        Delete
                    </a>

                </li>
            {% endfor %}
        </ul>

    {% else %}
        <p>No items.</p>

    {% endif %}

    <a class="nav-link" href="/match/create_match">Create New Match</a>

{% endblock %}