{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}View Match{% endblock %}

{% block body_block %}

    <h2>{{ config }}</h2>

    <h4>Setup</h4>
    <ul>
        {% for k,v in items %}
            <li>{{ k }}: {{ v }}</li>
        {% endfor %}
    </ul>

    <a class="nav-link" href="/match/run_match/{{ config.id }}">Run Match</a>

    <h4>Results</h4>
    <ul>
        {% for result in results %}
            <li>{{ result.output }}</li>
        {% endfor %}
    </ul>

{% endblock %}