{% extends 'sidebar_page.html' %}

{% load bootstrap3 %}

{% block title %}View Match{% endblock %}

{% block header_block %}
    <div class="col-sm-6">
        <h2 class="headerLine">View Match</h2>
    </div>

    <div class="col-sm-6 header-buttons">
        <a href="/match/analyze/{{ match.id }}" class="header-button btn btn-info" id="analytics-button">
            &nbsp; Analytics &nbsp;
        </a>
        <a href="/match/feedback/{{ match.id }}" class="header-button btn btn-success" id="feedback-button">
            &nbsp; Feedback &nbsp;
        </a>
        <button type="button" class="header-button btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="deleteModalLabel">Delete Match</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this match? This action is irreversible.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a href="/match/delete/{{ match.id }}" type="button" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_block %}
    <div class="well">
        <h3>{{ match.name }}</h3>
        <a class="btn btn-default" data-toggle="collapse" href="#matchSetup" aria-expanded="false" aria-controls="matchSetup">
            Show/Hide
        </a>

        <div class="collapse in" id="matchSetup">
        <div class='row'>
            {% if match.task == "assign" %}
                <div class='col-md-5'>
                    <h4>Configuration</h4>
                    <ul>
                        <li>
                            Data Sets: <b>{{ match_data_table_names.0 }}</b> and <b>{{ match_data_table_names.1 }}</b>
                        </li>
                        <li>
                            Capacity:
                            <b> {{ match_config.algorithm.params.capacity }}</b>
                        </li>
                    </ul>
                </div>
                <div class='col-md-5 col-md-offset-1'>
                    <h4>Matching Rules</h4>
                    <ol>
                        {% for c, w in match_rules %}
                        <li>
                            <b>{{ c.columns.0 }}</b> & <b>{{ c.columns.1 }}:</b>
                            {% if c.function == 'binary_diff' %}
                                diversity
                            {% elif c.function == 'binary_same' %}
                                similarity
                            {% elif c.function == 'inequality' %}
                                not equal
                            {% elif c.function == 'intersect_comma' %}
                                overlap
                            {% else %}
                                equal
                            {% endif %}
                            [weight = {{ w }}]
                        </li>
                        {% endfor %}
                    </ol>
                </div>
            {% else %}
                <div class='col-md-5'>
                    <h4>Configuration</h4>
                    <ul>
                        <li>
                            Data Set:
                            {% for name in match_data_table_names %}
                                <b>{{ name }}, </b>
                            {% endfor %}
                        </li>
                        <li>
                            Group Size:
                            <b> {{ match_config.algorithm.params.k_size }}</b>
                        </li>
                        <li>
                            Algorithm:
                            <b>
                                {% if match_config.algorithm.name == 'greedy' %}
                                    Quick search (fast)
                                {% elif match_config.algorithm.name == 'greedy_adaptive' %}
                                    Thorough search (slow)
                                {% else %}
                                    Random assignment
                                {% endif %}
                            </b>
                        </li>
                    </ul>
                </div>
                <div class='col-md-5 col-md-offset-1'>
                    <h4>Matching Rules</h4>
                    <ol>
                        {% for c, w in match_rules %}
                        <li>
                            <b>{{ c.columns.0 }}:</b>
                            {% if c.function == 'binary_diff' %}
                                diversity
                            {% elif c.function == 'euclidean_distance' %}
                                min distance
                            {% elif c.function == 'euclidean_distance_inv' %}
                                max distance
                            {% else %}
                                similarity
                            {% endif %}
                            [weight = {{ w }}]
                        </li>
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}
        </div>
        </div>
    </div>

    {% if match_result_data %}
        <div class="well">
            {% if match.task == "group" %}
                <h3>Results By Group</h3>
                <ul class="nav nav-tabs">
                    {% for group in match_result_data %}
                        <li>
                            <a href="#group_{{forloop.counter0}}" role="tab" data-toggle="tab">
                                Group {{ forloop.counter0 }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for group in match_result_data %}
                        <div class="tab-pane fade in" id="group_{{forloop.counter0}}">
                            <div class="groupDiv row-horizontal-scroll">
                                {% for member in group %}
                                    <div class="dataDiv">
                                        <ul>
                                            {% for attribute in member %}
                                                <li><b>{{ attribute.0 }}</b>: {{ attribute.1 }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <h3>Matches</h3>
                <ul class="nav nav-tabs">
                    {% for assignment in match_result_data %}
                        <li>
                            <a href="#assignment_{{forloop.counter0}}" role="tab" data-toggle="tab">
                                Match {{ forloop.counter0 }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for assignment in match_result_data %}
                        <div class="tab-pane fade in" id="assignment_{{forloop.counter0}}">
                            <div class="groupDiv row-horizontal-scroll">
                                {% for member in assignment %}
                                    <div class="dataDiv">
                                        <ul>
                                            {% for attribute in member %}
                                                <li><b>{{ attribute.0 }}</b>: {{ attribute.1 }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="well">
            <h3>Full Results</h3>
            {% if match.task == "group" %}
                <table class='dataset-table nowrap table table-hover'>
                    <thead>
                        <tr>
                            {% for col in match_result_header %}
                                <th>{{ col }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for group in match_result_data %}
                            {% for member in group %}
                                <tr class="group-{% if forloop.parentloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
                                    {% for col, val in member %}
                                        <td>{{ val }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <table class='dataset-table nowrap table table-hover'>
                    <thead>
                        <tr>
                            {% for col in match_result_header %}
                                <th>{{ col }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for assignment in match_result_data %}
                            {% for member in assignment %}
                                {% if forloop.counter > 1 %}
                                    <tr class="group-{% if forloop.parentloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
                                        {% for col, val in assignment.0 %}
                                            <td>{{ val }}</td>
                                        {% endfor %}
                                        <td class="assignmentColumn">
                                        </td>
                                        {% for col, val in member %}
                                            <td>{{ val }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>

            {% endif %}
        </div>
    {% else %}
            
        <div class="well">
            <h3>No Results Found</h3>
            <a href="/match/run/{{ match.id }}" class="btn btn-primary">Run Match</a>
        </div>
    {% endif %}
{% endblock %}