{% load staticfiles %}

<nav class="navbar navbar-default">
    <a class="navbar-brand" href="/welcome">Twine</a>

    <a href="#" class="navbar-left">
        <img height=40 width=40 src="{% static "img/twine_logo.png" %}" alt="Twine logo"/>
    </a>



    <ul class="nav navbar-nav">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="#">&nbsp;&nbsp;</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dataset/view/alpha">
                    {% if user.client.alpha_label == '' %}
                        Dataset #1
                    {% else %}
                        {{ user.client.alpha_label }}
                    {% endif %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dataset/view/beta">
                    {% if user.client.beta_label == '' %}
                        Dataset #2
                    {% else %}
                        {{ user.client.beta_label }}
                    {% endif %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">&nbsp;&nbsp;</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/match/summary">Matches</a>
            </li>
        {% endif %}
    </ul>

    <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/welcome/logout">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">&nbsp;&nbsp;</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/welcome/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/welcome/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">&nbsp;&nbsp;</a>
            </li>
        {% endif %}
    </ul>

</nav>