{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}
    <div class="row content-wrapper">
        <div class="sidebar-content col-sm-2">

            <div class="sidebar-header">
                {% if c.logo.name %}
                    <a href="/welcome"><img class="sidebar-logo" src="{% static c.logo.name %}" /></a>
                {% else %}
                    <a href="/welcome"><img class="sidebar-logo" src="{% static "img/twine_logo.png" %}" /></a>
                {% endif %}
                <h5>Hello, <strong>{{ c.first_name }}</strong> ({{ c.company_name }})</h5>
            </div>
            <div class="sidebar-menu">
                <a href="#" class="sidebar-menu-header">Data Sets<span class="dd-icon glyphicon glyphicon-chevron-down"></span></a>
                <div class="sidebar-submenu">
                    {% for data_table in data_tables %}
                        <a href="/dataset/view/{{ data_table.id }}" class="sidebar-menu-item">
                            {{ data_table.name }}
                        </a>
                    {% endfor %}
                    <a href="/dataset/upload_csv/" class="sidebar-menu-item">
                        Add New Dataset
                    </a>
                </div>
            </div>
            <div class="sidebar-menu">
                <a href="#" class="sidebar-menu-header">Matches<span class="dd-icon glyphicon glyphicon-chevron-down"></span></a>
                <div class="sidebar-submenu">
                    {% for match in matches %}
                        <a href="/match/view/{{ match.id }}" class="sidebar-menu-item">
                            {{ match.name }}
                        </a>
                    {% endfor %}
                    <a href="/match/create/" class="sidebar-menu-item">
                        Add New Match
                    </a>
                </div>
            </div>

            <div class="sidebar-footer">
                <div class="footer-link"><a href="/welcome/client/{{ user.client.id }}">Settings</a></div>
                <div class="footer-link"><a href="/welcome/logout">Sign out</a></div>
                <!--<h5 class="powered-by" >Powered by <strong>Twine Labs</strong>.</h5>-->
                <!--<li><img class="sidebar-twine-logo" src="{% static "img/twine_logo.png" %}" alt="Twine logo"/></li>-->
            </div>
        </div>

        <div class="main-content col-sm-10 col-sm-offset-2">
            <div class="row content-header">
                <div class="sidebar-close-button sidebar-visible"> < </div>
                {% block header_block %}
                {% endblock %}
            </div>
            {% block content_block %}
            {% endblock %}
        </div>
    </div>
{% endblock %}