{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}
    <div class="row content-wrapper">
        <div class="sidebar-content col-sm-2">

            <div class="sidebar-header">
                <a href="/welcome"><img class="sidebar-logo" src="{% static "img/logo_blackstone.jpg" %}" /></a>
                <h5>Hello, <strong>{{ user.username }}</strong>.</h5>
            </div>
            <div class="sidebar-menu">
                <a href="#" class="sidebar-menu-header">Data Sets<span class="dd-icon glyphicon glyphicon-chevron-down"></span></a>
                <div class="sidebar-submenu">
                    <a href="/dataset/view/alpha" class="sidebar-menu-item">
                        {% if alpha_label %}{{ alpha_label }}{% else %}Data Set 1{% endif %}
                    </a>
                    <a href="/dataset/view/beta" class="sidebar-menu-item">
                        {% if beta_label %}{{ beta_label }}{% else %}Data Set 2{% endif %}
                    </a>
                </div>
            </div>
            <div class="sidebar-menu">
                <a href="#" class="sidebar-menu-header">Matches<span class="dd-icon glyphicon glyphicon-chevron-down"></span></a>
                <div class="sidebar-submenu">
                    <a href="/match/create_match" class="sidebar-menu-item">Create New Match</a>
                </div>
            </div>

            <div class="sidebar-footer">
                <ul>
                    <li><a href="#">Settings</a></li>
                    <li>&nbsp; &nbsp;</li>
                    <li><img class="sidebar-twine-logo" src="{% static "img/twine_logo.png" %}" alt="Twine logo"/></li>
                    <li>&nbsp; &nbsp;</li>
                    <li><a href="/welcome/logout">Sign out</a></li>
                </ul>
            </div>
        </div>
        <div class="main-content col-sm-10 col-sm-offset-2">
            <div class="row content-header">
                <div class="sidebar-close-button sidebar-visible"> < </div>
                {% block header_block %}
                {% endblock %}
            </div>
            {% block content_block %}
            {% endblock %}
        </div>
    </div>
{% endblock %}